<% if @basket.errors.any? %>
  <div class="big-message success" xmlns="http://www.w3.org/1999/html">
    <h2><%= pluralize(@basket.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <ul>
      <% @basket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Basket.human_name %></h2>
  </div>
  <div class="content">

    <%= form_for(@basket) do |f| %>

    <fieldset class="login">
      <legend><%= t(Basket.human_name) %></legend>

      <p><%= f.label :session_id %><br /><%= f.text_field :session_id %></p>
      <p><%= f.label :customer_id %><br /><%= f.text_field :customer_id %></p>
      <p><%= f.label :status %><br /><%= f.text_field :status %></p>
      <p><%= f.label :shipmentterms %><br /><%= f.text_field :shipmentterms %></p>
      <p><%= f.label :paymentterms %><br /><%= f.text_field :paymentterms %></p>
      <p><%= f.label :order_number %><br /><%= f.text_field :order_number %></p>
      <p><%= f.label :store %><br /><%= f.text_field :store %></p>
      <p><%= f.submit %></p>
      <br/>&nbsp;<br/>
    </fieldset>
    <% end %>