<tr class="linemain">
  <td colspan="2">
    <%= form_for(@basket) do |f| %>
      <% if @basket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@basket.errors.count, t('error'))%> <%= t('error_explanation') %></h2>

          <ul>
          <% @basket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>

  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :session_id %>
    </td>
    <td>
        <%= f.text_field :session_id %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :customer_id %>
    </td>
    <td>
        <%= f.text_field :customer_id %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :status %>
    </td>
    <td>
        <%= f.text_field :status %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :shipmentterms %>
    </td>
    <td>
        <%= f.text_field :shipmentterms %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :paymentterms %>
    </td>
    <td>
        <%= f.text_field :paymentterms %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :order_number %>
    </td>
    <td>
        <%= f.text_field :order_number %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :store %>
    </td>
    <td>
        <%= f.text_field :store %>
    </td>
  </tr>
      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
    <% end %>


  <tr class= "line<%= cycle('1', '2') %>">
  <td colspan="2">
  <table class="content">
  <tr class="lineheader">
    <td><%= Product.human_attribute_name('shorttext') %></td>
    <td><%= Basketline.human_attribute_name('quantity') %></td>
    <td><%= Basketline.human_attribute_name('value') %></td>
    <td><%= Basketline.human_attribute_name('price') %></td>
    <td><%= Basketline.human_attribute_name('tax_percentage') %></td>
    <td><%= Basketline.human_attribute_name('producer_number') %></td>
    <td><%= Basketline.human_attribute_name('weight') %></td>
  </tr>

  <% @basket.basketlines.each do |basketline| %>
    <tr class= "line<%= cycle('1', '2') %>">
      <td><%= basketline.product.shorttext %></td>
      <td><%= basketline.quantity %></td>
      <td><%= basketline.value %></td>
      <td><%= basketline.price %></td>
      <td><%= basketline.tax_percentage %></td>
      <td><%= basketline.producer_number %></td>
      <td><%= basketline.weight %></td>
    </tr>

  <% end %>
  </table>
  </td>
  </tr>

