  <tr>
    <td class ="myTitle" width="100%" colspan="8">
      <%= t('Listing ') + Basket.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">
    <td><%= Basket.human_attribute_name('session_id') %></td>
    <td><%= Basket.human_attribute_name('customer_id') %></td>
    <td><%= Basket.human_attribute_name('status') %></td>
    <td><%= Basket.human_attribute_name('shipmentterms') %></td>
    <td><%= Basket.human_attribute_name('paymentterms') %></td>
    <td><%= Basket.human_attribute_name('order_number') %></td>
    <td><%= Basket.human_attribute_name('store') %></td>
    <td><%= t('action') %></td>
  </tr>

  <% @baskets.each do |basket| %>
    <tr class= "line<%= cycle('1', '2') %>">
      <td><%= basket.session_id %></td>
      <td><%= basket.customer_id %></td>
      <td><%= basket.status %></td>
      <td><%= basket.shipmentterms %></td>
      <td><%= basket.paymentterms %></td>
      <td><%= basket.order_number %></td>
      <td><%= basket.store %></td>
      <td align="right">
        <%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), basket %>
        <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_basket_path(basket) %>
        <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), basket, :confirm => t('Are you sure?'), :method => :delete %>
      </td>
    </tr>
  <% end %>

  <tr class="linemain">
    <td colspan="8">
      <%= link_to t('New ') + Basket.human_name, new_basket_path %>
    </td>
  </tr>

