<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Show my open ') + ' ' + Basket.human_name %></a></h2>
<div class="block" id="main">
  <% if flash[:notice]%>
        <%= flash[:notice] %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th class ="table-head" width="100%" colspan="6">
          <%= t('Listing ') + Basket.human_name %>
        </th>
      </tr>
      <tr>
        <th colspan ="3">
          <%= image_tag(@shop_cart, :border=>0, :alt =>'shopping cart') %>
          <%= t('shopping cart for ') %>
          <% if current_user %>
            <%= @basket.customer.login + ' (' + @basket.customer.firstname  + ' ' + @basket.customer.lastname + ')'%>
          <% end %>
        </th>
        <th align="right"><%= number_to_currency(@basket.basketlines.sum(:value)) %></td>
        <th></td>
      </tr>
      <tr>
        <th colspan="2"><%= t('article in the shopping cart') %></td>
        <th><%= Product.human_attribute_name('quantity') %></td>
        <th><%= Product.human_attribute_name('price') %></td>
        <th></td>
      </tr>
    </thead>

    <% @basket.basketlines.each do |b| %>
      <tr class= "<%= cycle('odd', '') %>">
        <% anzahl = 0 %>
        <% b.product.assets.each do |asset| %>
          <% anzahl += 1 %>
          <% if anzahl < 2 %>
            <td width="5%"><%= link_to (image_tag (asset.image.url(:small)),  html_options = {:style => "vertical-align:middle"}), :controller => 'products', :action => 'product_detail', :id => b.product.id %></td>
          <% end %>
        <% end %>

        <td><%= b.product.shorttext %></td>
        <td>
        <%= form_for b, :url => {:controller => 'baskets', :action => 'add_to_basket', :id => b.product.id} do |p| %>
     	  <%= number_field(:basketline, :quantity, options = {:size => 5, :value => b.quantity, :min => '0', :max => '99', :class => "basket_input"})%></td>
        <%= p.hidden_field(:product_id, :value => b.product.id)%>
        <%= p.hidden_field(:mode, :value => 'basket')%>
        </td>
        <td><%= number_to_currency(b.price) %></td>
        <td><%= image_submit_tag("edit.png") %></td>
        <% end %>
      </tr>
    <% end %>
    <tfoot>
      <tr class = "linemain">
        <td colspan="3"></td>
        <td align="right"><%= number_to_currency(@basket.basketlines.sum(:value)) %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
