<tr class="linemain">
  <td colspan="2">
    <%= form_for(@basketline) do |f| %>
      <% if @basketline.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@basketline.errors.count, t('error'))%> <%= t('error_explanation') %></h2>

          <ul>
          <% @basketline.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>

  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :basket_id %>
    </td>
    <td>
        <%= f.text_field :basket_id %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :product_id %>
    </td>
    <td>
        <%= f.text_field :product_id %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :quantity %>
    </td>
    <td>
        <%= f.text_field :quantity %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :value %>
    </td>
    <td>
        <%= f.text_field :value %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :price %>
    </td>
    <td>
        <%= f.text_field :price %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :tax_percentage %>
    </td>
    <td>
        <%= f.text_field :tax_percentage %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :producer_number %>
    </td>
    <td>
        <%= f.text_field :producer_number %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :weight %>
    </td>
    <td>
        <%= f.text_field :weight %>
    </td>
  </tr>
      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
    <% end %>

