  <tr>
    <td class ="myTitle" width="100%" colspan="9">
      <%= t('Listing ') + Basketline.model_name.human %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="9">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">
    <td><%= Basketline.human_attribute_name('basket_id') %></td>
    <td><%= Basketline.human_attribute_name('product_id') %></td>
    <td><%= Basketline.human_attribute_name('quantity') %></td>
    <td><%= Basketline.human_attribute_name('value') %></td>
    <td><%= Basketline.human_attribute_name('price') %></td>
    <td><%= Basketline.human_attribute_name('tax_percentage') %></td>
    <td><%= Basketline.human_attribute_name('producer_number') %></td>
    <td><%= Basketline.human_attribute_name('weight') %></td>
    <td><%= t('action') %></td>
  </tr>

  <% @basketlines.each do |basketline| %>
    <tr class= "line<%= cycle('1', '2') %>">
      <td><%= basketline.basket_id %></td>
      <td><%= basketline.product_id %></td>
      <td><%= basketline.quantity %></td>
      <td><%= basketline.value %></td>
      <td><%= basketline.price %></td>
      <td><%= basketline.tax_percentage %></td>
      <td><%= basketline.producer_number %></td>
      <td><%= basketline.weight %></td>
      <td align="right">
        <%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), basketline %>
        <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_basketline_path(basketline) %>
        <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), basketline, :confirm => t('Are you sure?'), :method => :delete %>
      </td>
    </tr>
  <% end %>

  <tr class="linemain">
    <td colspan="9">
      <%= link_to t('New ') + Basketline.model_name.human', new_basketline_path %>
    </td>
  </tr>

