  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('Show ') + Basketline.human_name %>
    </td>
  </tr>
  <tr class="linemain">
    <td colspan="2">
      <%= notice %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('basket_id') %>
    </td>
    <td>
      <%= @basketline.basket_id %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('product_id') %>
    </td>
    <td>
      <%= @basketline.product_id %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('quantity') %>
    </td>
    <td>
      <%= @basketline.quantity %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('value') %>
    </td>
    <td>
      <%= @basketline.value %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('price') %>
    </td>
    <td>
      <%= @basketline.price %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('tax_percentage') %>
    </td>
    <td>
      <%= @basketline.tax_percentage %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('producer_number') %>
    </td>
    <td>
      <%= @basketline.producer_number %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Basketline.human_attribute_name('weight') %>
    </td>
    <td>
      <%= @basketline.weight %>
    </td>
  </tr>

  <tr class="linemain">
    <td colspan="2">
  <%= link_to t('Edit'), edit_basketline_path(@basketline) %> |
  <%= link_to t('Back'), basketlines_path %>
    </td>
  </tr>

