<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + Tooltip.human_name %></a></h2>
<div class="block" id="main">

  <%= form_for(@tooltip) do |f| %>
    <% if @tooltip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tooltip.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
        <ul>
        <% @tooltip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      
    <fieldset class="login">
      <legend><%= t(Tooltip.human_name) %></legend>         
            <p><%= f.label :title %> <%= f.text_field :title %></p>
            <p><%= f.label :content %> <%= f.text_area :content %></p>
            <p><%= f.label :markup %> <%= f.text_field :markup %></p>
            <p><%= f.label :locale %> <%= f.text_field :locale %></p>
            <%= f.submit %>
    </fieldset>
  <% end %>
</div>   

