<% if @tooltip.errors.any? %>
  <div class="big-message error">
    <h2><%= pluralize(@tooltip.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <% @tooltip.errors.full_messages.each do |msg| %>
    <p>&bull; <%= msg %></p>
    <% end %>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Tooltip.human_name %> <i><%= @tooltip.title %></i></h2>
  </div>
  <div class="content">

    <%= form_for(@tooltip) do |f| %>

      <fieldset class="login">
        <legend><%= t(Tooltip.human_name) %></legend>
          <p><%= f.label :title %><br /><%= f.text_field :title %></p>
          <p><%= f.label :content %><br /><%= f.text_area :content %></p>
          <p><%= f.label :markup %><br /><%= f.text_field :markup %></p>
          <p><%= f.label :locale %><br /><%= f.text_field :locale %></p>
          <p><%= f.submit %></p>
      </fieldset>
  <% end %>