<% if flash[:notice]%>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Tooltip.human_name %> <i><%= @tooltip.title %></i></h2>
  </div>
  <div class="content">
    <table class="listing">
      <thead>
        <tr>
          <th><%= t('Key')%></th>
          <th><%= t('Value')%></th>
        </tr>
      </thead>

      <tbody>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Tooltip.human_attribute_name('title') %></td>
          <td><%= @tooltip.title %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Tooltip.human_attribute_name('content') %></td>
          <td><%= @tooltip.content %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Tooltip.human_attribute_name('markup') %></td>
          <td><%= @tooltip.markup %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Tooltip.human_attribute_name('locale') %></td>
          <td><%= @tooltip.locale %></td>
        </tr>
      </tbody>
    </table>
    <p><%= link_to t('Edit'), edit_tooltip_path(@tooltip) %> | <%= link_to t('Back'), tooltips_path %></p>
  </div>
</div>