<%= javascript_include_tag :ckeditor %>

<tr class="linemain">
  <td colspan="2">
    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, t('error'))%> <%= t('error_explanation') %></h2>

          <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>


  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :name %>
    </td>
    <td>
        <%= f.text_field :name %>
    </td>
  </tr>

    <tr class= "line<%= cycle('1', '2') %>">
    <td>
      <span id="show_normal">
        <a "href="#" onclick="$('show_normal').hide(); $('show_tiny').show(); $('normal').show(); $('cktextarea').hide()"><%= t('expertmode')%></a>
      </span>
      <span id="show_tiny" style="display:none";>
        <a "href="#" onclick="$('show_normal').show(); $('show_tiny').hide(); $('normal').hide(); $('cktextarea').show()"><%= t('usermode')%></a>
      </span>
    </td>
    <td></td>
  </tr>

  <tr class= "line<%= cycle('1', '2') %>">
    <td id="normal" style="display:none"; colspan ="2">
      <%= f.text_area :content, :rows => 30, :cols => 80 %>
    </td>
    <td <td id="cktextarea" colspan="2">
      <%= f.cktext_area :content, :toolbar=>'Full', :width=>'800px', :height=>'500px' %>
    </td>

  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :auth_level %>
    </td>
    <td>
        <%= f.number_field :auth_level, options = {:size => 5, :min => '0', :max => '100'} %>
    </td>
  </tr>

      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :auth_level_edit %>
    </td>
    <td>
        <%= f.number_field :auth_level_edit, options = {:size => 5, :min => '0', :max => '100'} %>
    </td>
  </tr>

      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>

    <% end %>

