
  <tr>
    <td class ="myTitle" width="100%" colspan="3">
	    Listing articles
    </td>                
  </tr> 
  
  <% if flash[:notice]%>
    <tr class="tablelineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr> 
  <% end %>
  
  <tr class="tablelineheader">

    <td>Name</td>
    <td>Content</td>
    <td>Action</td>
  </tr>

<% @articles.each do |article| %>
  <tr class= "tableline<%= cycle('1', '2') %>">
    <td><%= article.name %></td>
    <td><%= truncate(article.content, :length => 100) %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt =>'Anzeigen', :title => 'Anzeigen'), article %>
    <%= link_to image_tag("edit.png", :border=>0, :alt =>'Ändern', :title => 'Ändern'), edit_article_path(article) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt =>'Löschen', :title => 'Löschen'), article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>


  <tr class="tablelinemain">
    <td colspan="3">
	   <%= link_to 'New Article', new_article_path %>
    </td>
  </tr>
