<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= @search.count %> <%= t('searchstring')%> '<%= params[:aquery] %>'</a></h2>
<div class="block" id="main">

  <% if flash[:notice]%>
    <%= flash[:notice] %> '<%= params[:aquery] %>'

  <% else %>
    <div id="accordion">
       <% @search.each_with_index do |search,i | %>
         <h3 class="toggler atStart"><%= i+1 %>) <%= search.name %> (<%= search.auth_level_edit %> Treffer)</h3>
         <div class="element atStart">
           <div class="first article">
             <%= raw(search.content) %>
           </div>
         </div>
       <% end %>          
     </div>
  <% end %>
</div>
