<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('search_result') %></a></h2>
<div class="block" id="main">

  <% if flash[:notice]%>
        <%= flash[:notice] %> '<%= params[:aquery] %>'
  <% else %>

    <div class="block">
        <h2><%= t('searchstring')%> '<%= params[:aquery] %>':</h2>

      <% @search.each_with_index do |search,i | %>
        <div class="<%= i==0 ? 'first' : '' %> article">
          Artikel:  <a href="#" onclick="$('#article_content<%= search.id %>').show('slow');"><%= search.name %> (<%= search.auth_level_edit %>)</a>
        </div>
        <div id='article_content<%= search.id %>' style="display:none;" class= "<%= cycle('odd', '2') %>">
          <div class="article">
            <h3><%= search.name %></h3>
            <p class="meta"><a href="#" onclick="$('#article_content<%= search.id %>').hide();"><%= t('hide')%></a></p>
            <%= raw(search.content) %>
            <p class="meta"><a href="#" onclick="$('#article_content<%= search.id %>').hide();"><%= t('hide')%></a></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
