<% if flash[:notice]%>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= @search.count %> <%= t('searchstring')%> '<%= params[:aquery] %>'</h2>
  </div>
  <div class="content">

    <% if flash[:notice]%>
      <%= flash[:notice] %> '<%= params[:aquery] %>'

    <% else %>
      <div class="vertical-tabs">
        <div class="tab-list">
          <ul>
            <% @search.each_with_index do |search,i | %>
              <% if i==0 %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <a href="tab<%= i %>"><%= search.name %> (<%= search.auth_level_edit %>)</a></li>
            <% end %>
          </ul>
        </div>
        <% @search.each_with_index do |search,i | %>
          <div id="tab<%= i %>" class="right-tab">
               <%= raw(search.content) %>
          </div>
        <% end %>
        <div class="clear">&nbsp;</div>
      </div>
    <% end %>
  </div>
</div>
