  <tr>
    <td class ="myTitle" width="100%">
	    <%= t('search_result') %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="5">
        <%= flash[:notice] %> '<%= params[:aquery] %>'
      </td>
    </tr>
  <% else %>

  <tr class="lineheader">

    <td><%= t('searchstring')%> '<%= params[:aquery] %>'</td>
  </tr>

<% @search.each do |search| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><a href="<%= search.name %>" onclick="$('article_content<%= search.id %>').grow(); return false;"><%= search.name %> (<%= search.auth_level_edit %>)</a></td>
  </tr>
  <tr id='article_content<%= search.id %>' style="display:none;" class= "line<%= cycle('1', '2') %>">
    <td>
      <a href="#" onclick="$('article_content<%= search.id %>').hide(); return false;"><%= t('hide')%></a>
      <%= raw(search.content) %>
      <a href="#" onclick="$('article_content<%= search.id %>').hide(); return false;"><%= t('hide')%></a>
    </td>
  </tr>
<% end %>

  <tr class="linemain">
    <td>
	   &nbsp
    </td>
  </tr>
<% end %>

