<% if flash[:notice]%>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= (@blogpost.name) %></h2>
  </div>
  <div class="content grid">
    <div class="column grid-<%= 16 %>">
      <%= raw(@blogpost.content) %>
      <%= button_to "Zurück zum Blog", index_blogposts_articles_path, method: :get %>
    </div>
    <div class="clear"></div>
  </div>
</div>
