  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('Show ') + Article.human_name %>
    </td>
  </tr>
  <tr class="linemain">
    <td colspan="2">
      <%= notice %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
  	 <%= Article.human_attribute_name('name') %>
    </td>
    <td>
  	<%= @article.name %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td>
      <%= Article.human_attribute_name('content')%>
    </td>
    <td>
      <%= raw(@article.content) %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td>
  	 <%= Article.human_attribute_name('format') %>
    </td>
    <td>
  	<%= @article.format %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td>
  	 <%= Article.human_attribute_name('auth_level') %>
    </td>
    <td>
  	<%= @article.auth_level %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td>
      <%= Article.human_attribute_name('auth_level_edit') %>
    </td>
    <td>
    <%= @article.auth_level_edit %>
    </td>
  </tr>


  <tr class="linemain">
    <td colspan="2">
	<%= link_to t('Edit'), edit_article_path(@article) %> |
	<%= link_to t('Back'), articles_path %>
    </td>
  </tr>

