<div class="block">
  <div class="top">
    <h2><%= (@blogpost.name) %></h2>
  </div>
  <div class="content grid">
    <% if flash[:notice] %>
      <div class="column grid-16">
        <div class="message success"><%= flash[:notice] %></div>
      </div>
    <% end %>

    <% if @config.block_left == true %>
      <div class="column grid-<%=@config.block_left_width%>">
        <%= render :partial => "shared/blocks/blocks", :collection => @lblocks, :as => :block %>
      </div>
    <% end %>
    <div class="column grid-<%= 16 - @config.block_left_width - @config.block_right_width %>">
      <%= raw(@blogpost.content) %>
      <%= button_to "Zurück zum Blog", index_blogposts_articles_path, method: :get %>
    </div>
    <% if @config.block_right == true %>
      <div class="column grid-<%=@config.block_right_width%>">
        <%= render :partial => "shared/blocks/blocks", :collection => @rblocks, :as => :block %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>