<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration Konfiguration') %></a></h2>
<div class="block" id="main">

  <%= form_for(@configuration) do |f| %>
    <% if @configuration.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@configuration.errors.count, t('error'))%> <%= t('error_explanation') %></h2>
        <ul>
        <% @configuration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="login">
      <legend><%= t('Konfiguration') %></legend>         
      <p><%= f.label :theme %><%= f.select :theme, Configuration::THEME%></p>
      <p><%= f.label :title %><%= f.text_field :title %></p>
      <p><%= f.label :block_left %><%= f.check_box :block_left %></p>
      <p><%= f.label :block_left_width %><%= f.text_field :block_left_width %></p>
      <p><%= f.label :block_right %><%= f.check_box :block_right %></p>
      <p><%= f.label :block_right_width %><%= f.text_field :block_right_width %></p>
      <p><%= f.label :pagewidth %><%= f.text_field :pagewidth %></p>
      <p><%= f.label :block_headerline %><%= f.check_box :block_headerline %></p>
      <p><%= f.label :position_logo %><%= f.select :position_logo, Configuration::POSITION%></p>
      <p><%= f.label :topimage %><%= f.check_box :topimage %></p>
      <p><%= f.label :show_title %><%= f.check_box :show_title %></p>
      <p><%= f.label :manage_tree %><%= f.check_box :manage_tree %></p>
      <p><%= f.label :shop_active %><%= f.check_box :shop_active %></p>
      <p><%= f.label :articles_name %><%= f.collection_select :articles_name, @articles, :id, :name, :prompt => t('please select') %></p>
      <p><%= f.label :copyright %><%= f.text_field :copyright %></p>
      <%= f.submit %>
    </fieldset>
  <% end %>
</div>
