<% if @configuration.errors.any? %>
    <div class="big-message success">
      <h2><%= pluralize(@configuration.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
      <ul>
        <% @configuration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
      <div class="bg"></div>
      <div class="close"></div>
    </div>
<% end %>

<div class="block">
  <div class="top">
     <h2><%= t('Administration Konfiguration') %></h2>
  </div>
  <div class="content">

    <%= form_for(@configuration) do |f| %>
     <fieldset class="login">
      <legend><%= t('Konfiguration') %></legend>
      <p><%= f.label :theme %><br /><%= f.select :theme, Configuration::THEME%></p>
      <p><%= f.label :title %><br /><%= f.text_field :title %></p>
      <p><%= f.label :block_left %>&nbsp;<%= f.check_box :block_left %></p>
      <p><%= f.label :block_left_width %><br /><%= f.text_field :block_left_width %></p>
      <p><%= f.label :block_right %>&nbsp;<%= f.check_box :block_right %></p>
      <p><%= f.label :block_right_width %><br /><%= f.text_field :block_right_width %></p>
      <p><%= f.label :pagewidth %><br /><%= f.text_field :pagewidth %></p>
      <p><%= f.label :block_headerline %><br /><%= f.check_box :block_headerline %></p>
      <p><%= f.label :position_logo %><br /><%= f.select :position_logo, Configuration::POSITION%></p>
      <p><%= f.label :topimage %>&nbsp;<%= f.check_box :topimage %></p>
      <p><%= f.label :show_title %><br /><%= f.check_box :show_title %></p>
      <p><%= f.label :manage_tree %>&nbsp;<%= f.check_box :manage_tree %></p>
      <p><%= f.label :shop_active %>&nbsp;<%= f.check_box :shop_active %></p>
      <p><%= f.label :articles_name %><br /><%= f.collection_select :articles_name, @articles, :id, :name, :prompt => t('please select') %></p>
      <p><%= f.label :copyright %><br /><%= f.text_field :copyright %></p>
      <p><%= f.submit %></p>
    </fieldset>
    <% end %>

