  <tr>
    <td class ="myTitle" width="100%" colspan="9">
	Listing configurations
    </td>                
  </tr> 

  <tr class="tablelineheader">

    <td>Block left</td>
    <td>Block left width</td>
    <td>Block right</td>
    <td>Block right width</td>
    <td>Pagewidth</td>
    <td>Block headerline</td>
    <td>Position logo</td>
    <td>Topimage</td>
    <td></td>
  </tr>

<% @configurations.each do |configuration| %>
  <tr class= "tableline<%= cycle('1', '2') %>">
    <td><%= configuration.block_left %></td>
    <td><%= configuration.block_left_width %></td>
    <td><%= configuration.block_right %></td>
    <td><%= configuration.block_right_width %></td>
    <td><%= configuration.pagewidth %></td>
    <td><%= configuration.block_headerline %></td>
    <td><%= configuration.position_logo %></td>
    <td><%= configuration.topimage %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt =>'Anzeigen', :title => 'Anzeigen'), configuration %>
    <%= link_to image_tag("edit.png", :border=>0, :alt =>'Ändern', :title => 'Ändern'), edit_configuration_path(configuration) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt =>'Löschen', :title => 'Löschen'), configuration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>


  <tr class="tablelinemain">
    <td colspan="9">
	<%= link_to 'New Configuration', new_configuration_path %>
    </td>
  </tr>
