<div class="block">
  <div class="top">
    <h2><%= t('Anzeige Konfiguration') %></h2>
  </div>

  <div class="content">
    <% if flash[:notice] %>
      <div class="message success"><%= flash[:notice] %></div>
    <% end %>

      <table class="listing">
        <thead>
        <tr>
          <th><%= t('Key')%></th>
          <th><%= t('Value')%></th>
        </tr>
      </thead>
      <tbody>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Configuration.human_attribute_name('theme') %></td>
          <td><%= @configuration.theme %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Configuration.human_attribute_name('title') %></td>
          <td><%= @configuration.title %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Configuration.human_attribute_name('block_left') %></td>
          <td><%= @configuration.block_left %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('block_left_width') %></td>
          <td><%= @configuration.block_left_width %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('block_right') %></td>
          <td><%= @configuration.block_right %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('block_right_width') %></td>
          <td><%= @configuration.block_right_width %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('pagewidth') %></td>
          <td><%= @configuration.pagewidth %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('block_headerline') %></td>
          <td><%= @configuration.block_headerline %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('position_logo') %></td>
          <td><%= @configuration.position_logo %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('topimage') %></td>
          <td><%= @configuration.topimage %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('show_title') %></td>
          <td><%= @configuration.show_title %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('manage_tree') %></td>
          <td><%= @configuration.manage_tree %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('shop_active') %></td>
          <td><%= @configuration.shop_active %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= Configuration.human_attribute_name('articles_name') %></td>
          <td><%= @configuration.articles_name %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="20%"><%= Configuration.human_attribute_name('copyright') %></td>
          <td><%= @configuration.copyright %></td>
        </tr>
      </table>
    <p><%= link_to t('Edit'), edit_configuration_path(@configuration) %> | <%= link_to t('Back'), configurations_path %></p>
   </div>
</div>