  <tr>
    <td class ="myTitle" width="100%" colspan="7">
	     <%= t('Listing ') + User.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="6">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">

    <td><%= User.human_attribute_name('login') %></td>
    <td><%= User.human_attribute_name('lastname') %></td>
    <td><%= User.human_attribute_name('email') %></td>
    <td><%= User.human_attribute_name('auth_level') %></td>
    <td><%= User.human_attribute_name('auth_level_edit') %></td>
    <td><%= t 'action' %></td>
  </tr>

<% @users.each do |user| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><%= user.login %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.auth_level %></td>
    <td><%= user.auth_level_edit %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), user %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_user_path(user) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), user, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>


  <tr class="linemain">
    <td colspan="6">
  <%= link_to t('New ') + User.human_name, new_user_path %>
    </td>
  </tr>

