<% if flash[:notice]%>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + User.human_name %> <i><%= @user.login %></i></h2>
  </div>

  <div class="content">
    <p align="right"><%= link_to t('Edit'), edit_user_path(@user) %> | <%= link_to t('Back'), users_path %></p>
    <table class="listing">
      <thead>
        <tr>
          <th><%= t('Key')%></th>
          <th><%= t('Value')%></th>
        </tr>
      </thead>

      <tbody>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('login') %></td>
          <td><%= @user.login %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('title') %></td>
          <td><%= @user.title %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('firstname') %></td>
          <td><%= @user.firstname %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('lastname') %></td>
          <td><%= @user.lastname %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('auth_level') %></td>
          <td><%= @user.auth_level %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('auth_level_edit') %></td>
          <td><%= @user.auth_level_edit %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('email') %></td>
          <td><%= @user.email %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('login_count') %></td>
          <td><%= @user.login_count %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('failed_login_count') %></td>
          <td><%= @user.failed_login_count %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('last_request_at') %></td>
          <td><%= @user.last_request_at %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('current_login_at') %></td>
          <td><%= @user.current_login_at %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('last_login_at') %></td>
          <td><%= @user.last_login_at %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('current_login_ip') %></td>
          <td><%= @user.current_login_ip %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('last_login_ip') %></td>
          <td><%= @user.last_login_ip %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('wwwadress') %></td>
          <td><%= @user.wwwadress %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('taxnumber') %></td>
          <td><%= @user.taxnumber %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('customernumber') %></td>
          <td><%= @user.customernumber %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="50%"><%= User.human_attribute_name('customergroup_id') %></td>
          <td><%= @user.customergroup_id %></td>
        </tr>
        <tr class='linemain'>
          <th colspan=2><%=t('billingaddress')%></th><td></td>
        </tr>

        <tr class= "<%= cycle('', 'even') %>">
          <td><%= Billingaddress.human_attribute_name('street') %></td>
          <td><%= @user.billingaddress.street %></td>
        </tr>
        <tr class= "<%= cycle('', 'even') %>">
          <td><%= Billingaddress.human_attribute_name('zipcode') %></td>
          <td><%= @user.billingaddress.zipcode %></td>
        </tr>
        <tr class= "<%= cycle('', 'even') %>">
          <td><%= Billingaddress.human_attribute_name('city') %></td>
          <td><%= @user.billingaddress.city %></td>
        </tr>
        <tr class= "<%= cycle('', 'even') %>">
          <td><%= Billingaddress.human_attribute_name('country') %></td>
          <td><%= @user.billingaddress.country %></td>
        </tr>
        <tr class= "<%= cycle('', 'even') %>">
          <td><%= Billingaddress.human_attribute_name('telnr') %></td>
          <td><%= @user.billingaddress.telnr %></td>
        </tr>
        <tr class= "<%= cycle('', 'even') %>">
          <td><%= Billingaddress.human_attribute_name('mobil') %></td>
          <td><%= @user.billingaddress.mobile %></td>
        </tr>

        <tr class='linemain'><th colspan=2><%=t('deliveryaddress')%></th><td></td></tr>

        <% if @user.deliveryaddress.nil? %>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= t('same as billingaddress') %></td>
            <td>&nbsp</td>
          </tr>
        <% else %>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= Deliveryaddress.human_attribute_name('street') %></td>
            <td><%= @user.deliveryaddress.street %></td>
          </tr>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= Deliveryaddress.human_attribute_name('zipcode') %></td>
            <td><%= @user.deliveryaddress.zipcode %></td>
          </tr>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= Deliveryaddress.human_attribute_name('city') %></td>
            <td><%= @user.deliveryaddress.city %></td>
          </tr>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= Deliveryaddress.human_attribute_name('country') %></td>
            <td><%= @user.deliveryaddress.country %></td>
          </tr>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= Deliveryaddress.human_attribute_name('telnr') %></td>
            <td><%= @user.deliveryaddress.telnr %></td>
          </tr>
          <tr class= "<%= cycle('', 'even') %>">
            <td><%= Deliveryaddress.human_attribute_name('mobil') %></td>
            <td><%= @user.deliveryaddress.mobile %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <p><%= link_to t('Edit'), edit_user_path(@user) %> | <%= link_to t('Back'), users_path %></p>
  </div>
</div>