  <tr class="<%= cycle('odd', '') %>">
    <td width ="20%">
      <% if product.assets[0] %>
        <%= image_tag (product.assets[0].image.url(:description)), html_options = {:style => "vertical-align:middle"} %>
      <% end %>
    </td>
    <td>
      <%= raw(product.description) %>
    </td>
  </tr>
  <tr class="line<%= cycle('1', '2') %>">
    <td>
  	 <%= image_tag (product.sheet.url(:preview)) if product.sheet_file_name != nil%>
    </td>
    <td>
      <% if product.sheet_file_name != nil %>
        <%= link_to( t('show'), {
              :controller => 'products',
              :action => 'show_specification_sheet',
              :id => product.id,
              :mode => 'show'},
              {:target => "_blank"}) %> /
        <%= link_to t('Download'),
              :controller => 'products',
              :action => 'show_specification_sheet',
              :id => product.id,
              :mode => 'download' %>
      <% else %>
        <%= t('no datasheet available') %>
      <% end %>
    </td>
  </tr>

