<% if @menue.errors.any? %>
    <div class="big-message error" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@menue.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
      <% @menue.errors.full_messages.each do |msg| %>
        <p>&bull; <%= msg %></p>
      <% end %>
      <div class="bg"></div>
      <div class="close"></div>
    </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Menue.human_name %></h2>
  </div>
  <div class="content">

    <%= form_for(@menue, :html => {:name => 'menue'}) do |f| %>
        <fieldset class="login">
          <legend><%= t(Menue.human_name) %></legend>
          <p><%= f.label :name %><br /><%= f.text_field :name %></p>
          <p><%= f.label :position %><br /><%= f.text_field :position %></p>
          <p><%= f.label :the_url %><br /><%= f.text_field :the_url %></p>
          <p><%= f.label :the_controller %><br />
            <%= f.select :the_controller, options_for_select(@CO, @menue.the_controller), options = {:prompt => t('please select')}, html_options = {:onchange => 'menue_action_auswahl()'} %></p>
          <p><%= f.label :the_action %><br />
            <% if @menue.the_controller == 'articles' %>
                <%= f.select :the_action, options_for_select(Menue::AC_ARTICLE, @menue.the_action), :prompt => t('please select') %>
            <% else %>
                <% if @menue.the_controller == 'news' %>
                    <%= f.select :the_action, options_for_select(Menue::AC_NEWS, @menue.the_action), :prompt => t('please select') %>
                <% else %>
                    <%= f.select :the_action, options_for_select(Menue::AC_REST, @menue.the_action), :prompt => t('please select') %>
                <% end %>
            <% end %>
          </p>
          <% if @menue.the_controller == 'articles' %>
              <p id="the_id">
          <% else %>
              <p id="the_id" style="display:none";>
          <% end %>
          <%= f.label :the_id %><br /><%= f.collection_select :the_id, @articles, :id, :name, :prompt => t('please select') %></p>
          <p><%= f.label :parent_id %><br /><%= f.collection_select :parent_id, @men, :id, :name, :include_blank => true, :prompt => t('please select') %></p>
          <p><%= f.label :ontop %>&nbsp;<%= f.check_box :ontop %></p>
          <p><%= f.label :active %>&nbsp;<%= f.check_box :active %></p>
          <p><%= f.label :auth_level %><br /><%= f.number_field :auth_level, options = {:size => 5, :min => '0', :max => '100'} %></p>
          <p><%= f.label :auth_level_edit %><br /><%= f.number_field :auth_level_edit, options = {:size => 5, :min => '0', :max => '100'} %></p>
          <p><%= f.submit %></p>
        </fieldset>
    <% end %>

