<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + Menue.human_name %></a></h2>
<div class="block" id="main">

  <%= form_for(@menue,:html => { :name => 'menue' }) do |f| %>
    <% if @menue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menue.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
        <ul>
        <% @menue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="login">
      <legend><%= t(Menue.human_name) %></legend>
            <p><%= f.label :name %> <%= f.text_field :name %></p>
            <p><%= f.label :position %> <%= f.text_field :position %></p>
            <p><%= f.label :the_url %> <%= f.text_field :the_url %></p>
            <p><%= f.label :the_controller %>
               <%= f.select :the_controller, options_for_select(@CO,@menue.the_controller), options = {:prompt => t('please select')}, html_options = {:onchange => 'menue_action_auswahl()'} %></p>
            <p><%= f.label :the_action %>
                <% if @menue.the_controller == 'articles' %>
                  <%= f.select :the_action, options_for_select(Menue::AC_ARTICLE,@menue.the_action), :prompt => t('please select')  %>
                <% else %>
                  <% if @menue.the_controller == 'news'  %>
                    <%= f.select :the_action, options_for_select(Menue::AC_NEWS,@menue.the_action), :prompt => t('please select')  %>
                  <% else %>
                    <%= f.select :the_action, options_for_select(Menue::AC_REST,@menue.the_action), :prompt => t('please select')  %>
                  <% end %>
                <% end %>
            </p>
            <% if @menue.the_controller == 'articles' %>
              <p id="the_id">
            <% else %>
              <p id="the_id" style="display:none";>
             <% end %>
            <%= f.label :the_id %><%= f.collection_select :the_id, @articles, :id, :name, :prompt => t('please select') %></p>
            <p><%= f.label :parent_id %> <%= f.collection_select :parent_id, @men, :id, :name, :include_blank => true, :prompt => t('please select') %></p>
            <p><%= f.label :ontop %> <%= f.check_box :ontop %></p>
            <p><%= f.label :active %> <%= f.check_box :active %></p>
            <p><%= f.label :auth_level %> <%= f.number_field :auth_level, options = {:size => 5, :min => '0', :max => '100'} %></p>
            <p><%= f.label :auth_level_edit %> <%= f.number_field :auth_level_edit, options = {:size => 5, :min => '0', :max => '100'} %></p>
            <%= f.submit %>
    </fieldset>
  <% end %>
</div>

