  <tr>
    <td class ="myTitle" width="100%" colspan="8">
	   <%= t('Listing ') + Menue.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">

    <td><%= Menue.human_attribute_name('name') %></td>
    <td><%= Menue.human_attribute_name('the_url') %></td>
    <td><%= Menue.human_attribute_name('the_controller') %></td>
    <td><%= Menue.human_attribute_name('the_action') %></td>
    <td><%= Menue.human_attribute_name('parent') %></td>
    <td><%= Menue.human_attribute_name('ontop') %></td>
    <td><%= Menue.human_attribute_name('active') %></td>
    <td><%= t 'action' %></td>
  </tr>

<% @menues.each do |menue| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><%= menue.name %></td>
    <td><%= menue.the_url %></td>
    <td><%= menue.the_controller %></td>
    <td><%= menue.the_action %></td>
    <% if menue.parent != nil %>
      <td><%= menue.parent.name %></td>
    <% else %>
      <td>&nbsp</td>
    <% end %>
    <td><%= menue.ontop %></td>
    <td><%= menue.active %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), menue %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_menue_path(menue) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), menue, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>


  <tr class="linemain">
    <td colspan="8">
  <%= link_to t('New ') + Menue.human_name, new_menue_path %>
    </td>
  </tr>

