  <tr>
    <td class ="myTitle" width="100%" colspan="8">
	Listing menues
    </td>                
  </tr> 

  <% if flash[:notice]%> 
    <tr class="tablelineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr> 
  <% end %>

  <tr class="tablelineheader">

    <td>Name</td>
    <td>The url</td>
    <td>The controller</td>
    <td>The action</td>
    <td>Parent</td>
    <td>Ontop</td>
    <td>Active</td>
    <td></td>
  </tr>

<% @menues.each do |menue| %>
  <tr class= "tableline<%= cycle('1', '2') %>">
    <td><%= menue.name %></td>
    <td><%= menue.the_url %></td>
    <td><%= menue.the_controller %></td>
    <td><%= menue.the_action %></td>
    <% if menue.parent != nil %>
      <td><%= menue.parent.name %></td>
    <% else %>
      <td>&nbsp</td>
    <% end %>
    <td><%= menue.ontop %></td>
    <td><%= menue.active %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt =>'Anzeigen', :title => 'Anzeigen'), menue %>
    <%= link_to image_tag("edit.png", :border=>0, :alt =>'Ändern', :title => 'Ändern'), edit_menue_path(menue) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt =>'Löschen', :title => 'Löschen'), menue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>


  <tr class="tablelinemain">
    <td colspan="8">
  <%= link_to 'New Menue', new_menue_path %>
    </td>
  </tr>
