<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Menue.model_name.human %></h2>
  </div>
  <div class="content">
    <% if flash[:notice] %>
      <div class="message success"><%= flash[:notice] %></div>
    <% end %>

    <div class="dataTables_wrapper">
      <table class="listing data-table">
        <thead>
          <tr>
            <th><%= Menue.human_attribute_name('name') %></th>
            <th><%= Menue.human_attribute_name('position') %></th>
            <th><%= Menue.human_attribute_name('parent_id') %></th>
            <th><%= Menue.human_attribute_name('ontop') %></th>
            <th><%= Menue.human_attribute_name('active') %></th>
            <th><%= t('action') %></th>
          </tr>
        </thead>
        <tbody>
        <% @menues.each do |menue| %>
          <tr>
              <td><%= menue.name %></td>
              <td><%= menue.position %></td>
              <td><%= menue.parent ? menue.parent.name : '' %></td>
              <td><%= menue.ontop %></td>
              <td><%= menue.active %></td>
              <td align="right"><nobr>
              <%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), menue %>
              <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_menue_path(menue) %>
              <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), menue, :confirm => t('Are you sure?'), :method => :delete %>
            </nobr></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%= link_to t('New ') + Menue.model_name.human, new_menue_path %>
  </div>
</div>
