<% if flash[:notice] %>
    <div class="big-message success">
      <h2><%= flash[:notice] %></h2>

      <div class="bg"></div>
      <div class="close"></div>
    </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Menue.human_name %> <i><%= @menue.name %></i></h2>
  </div>
  <div class="content">
    <table class="listing">
      <thead>
      <tr>
        <th><%= t('Key') %></th>
        <th><%= t('Value') %></th>
      </tr>
      </thead>

      <tbody>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('name') %></td>
        <td><%= @menue.name %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('position') %></td>
        <td><%= @menue.position %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('the_url') %></td>
        <td><%= @menue.the_url %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('the_controller') %></td>
        <td><%= @menue.the_controller %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('the_action') %></td>
        <td><%= @menue.the_action %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('parent_id') %></td>
        <td><%= @menue.parent ? @menue.parent.name : '' %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('ontop') %></td>
        <td><%= @menue.ontop %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('active') %></td>
        <td><%= @menue.active %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('the_id') %></td>
        <td><%= @menue.the_id %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('auth_level') %></td>
        <td><%= @menue.auth_level %></td>
      </tr>
      <tr class="<%= cycle('', 'even') %>">
        <td width="30%"><%= Menue.human_attribute_name('auth_level_edit') %></td>
        <td><%= @menue.auth_level_edit %></td>
      </tr>
      </tbody>
    </table>
    <p><%= link_to t('Edit'), edit_menue_path(@menue) %> | <%= link_to t('Back'), menues_path %></p>
  </div>
</div>  
