<% if @news.errors.any? %>
  <div class="big-message error">
    <h2><%= pluralize(@news.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <% @news.errors.full_messages.each do |msg| %>
      <p>&bull; <%= msg %></p>
    <% end %>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + News.human_name %></h2>
  </div>
  <div class="content">
    <%= form_for(@news) do |f| %>
      <fieldset class="login">
        <legend><%= t(News.human_name) %></legend>
              <p><%= f.label :title %><br /><%= f.text_field :title %></p>
              <p class="date"><%= f.label :date %><br /><%= f.date_select :date %></p>
              <p><%= f.label :notice %><br /><%= f.text_field :notice %></p>
              <p><%= f.label :format %><br /><%= f.text_field :format %></p>
              <p><%= f.label :auth_level %><br /><%= f.text_field :auth_level %></p>
              <p><%= f.label :auth_level_edit %><br /><%= f.text_field :auth_level_edit %></p>
              <p><%= f.submit %></p>
      </fieldset>
    <% end %>