<tr class="linemain">
  <td colspan="2">
    <%= form_for(@news) do |f| %>
      <% if @news.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

          <ul>
          <% @news.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>

  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :title %>
    </td>
    <td>
        <%= f.text_field :title %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :date %>
    </td>
    <td>
        <%= f.date_select :date %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :notice %>
    </td>
    <td>
        <%= f.text_area :notice %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :format %>
    </td>
    <td>
        <%= f.select :format, Article::FORMAT %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :auth_level %>
    </td>
    <td>
        <%= f.number_field :auth_level, options = {:size => 5, :min => '0', :max => '100'} %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :auth_level_edit %>
    </td>
    <td>
        <%= f.number_field :auth_level_edit, options = {:size => 5, :min => '0', :max => '100'} %>
    </td>
  </tr>
      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
    <% end %>

