<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + News.human_name %></a></h2>
<div class="block" id="main">

  <%= form_for(@news) do |f| %>
    <% if @news.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@news.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
        <ul>
        <% @news.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      
    <fieldset class="login">
      <legend><%= t(News.human_name) %></legend>         
            <p><%= f.label :title %> <%= f.text_field :title %></p>
            <p class="date"><%= f.label :date %> <%= f.date_select :date %></p>
            <p><%= f.label :notice %> <%= f.text_field :notice %></p>
            <p><%= f.label :format %> <%= f.text_field :format %></p>
            <p><%= f.label :auth_level %> <%= f.text_field :auth_level %></p>
            <p><%= f.label :auth_level_edit %> <%= f.text_field :auth_level_edit %></p>
            <%= f.submit %>
    </fieldset>
  <% end %>
</div>   

