<% if flash[:notice]%>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= News.human_name %></h2>
  </div>
  <div class="content grid">
    <div class="column grid-<%=16 - @config.block_right_width %>">
      <% if @config.block_left == true %>
        <div class="column grid-<%=@config.block_left_width%>">
          <%= render :partial => "shared/blocks/blocks", :collection => @lblocks, :as => :block %>
        </div>
      <% end %>
      <div class="column grid-<%= 16 - @config.block_left_width %>">
        <div class="boxed">
          <%= render :partial => "shared/blocks/all_news", :collection => read_all_news, :as => :news %>
        </div>
      </div>
    </div>
    <% if @config.block_right == true %>
      <div class="column grid-<%=@config.block_right_width%>">
        <%= render :partial => "shared/blocks/blocks", :collection => @rblocks, :as => :block %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>