  <tr>
    <td class ="myTitle" width="100%" colspan="4">
	   <%= t('Listing ') + News.human_name %>
    </td>                
  </tr> 

  <% if flash[:notice]%> 
    <tr class="tablelineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr> 
  <% end %>
  
  <tr class="tablelineheader">

    <td><%= News.human_attribute_name('title') %></td>
    <td><%= News.human_attribute_name('date') %></td>
    <td><%= News.human_attribute_name('notice') %></td>
    <td><%= t 'action' %></td>
  </tr>

<% @news.each do |news| %>
  <tr class= "tableline<%= cycle('1', '2') %>">
    <td><%= news.title %></td>
    <td><%= l news.date %></td>
    <td><%= truncate(news.notice, :length => 100) %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), news %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_news_path(news) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), news, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>


  <tr class="tablelinemain">
    <td colspan="4">
	<%= link_to t('New ') + News.human_name, new_news_path %>
    </td>
  </tr>
