<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration Konfiguration') %></a></h2>

  <% if flash[:notice]%>
    <%= flash[:notice] %>
  <% end %>


<div class="block" id="main">
  <table>
    <thead>
      <tr>
        <th class="table-head" colspan="4"><%= t('Listing ') + News.human_name %></th>
      </tr>
      <tr>
    <th><%= News.human_attribute_name('title') %></td>
    <th><%= News.human_attribute_name('date') %></td>
    <th><%= News.human_attribute_name('notice') %></td>
    <th><%= t 'action' %></td>      
      </tr>
    </thead>

<% @news.each do |news| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><%= news.title %></td>
    <td><%= l news.date %></td>
    <td><%= truncate(news.notice, :length => 100) %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), news %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_news_path(news) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), news, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>

    <tfoot>
      <tr class="linemain">
        <td colspan="4">
	    <%= link_to t('New ') + News.human_name, new_news_path %>
        </td>
      </tr>
    </tfoot>  
  </table>
</div>
