<% if @customer.errors.any? %>
  <div class="big-message success" xmlns="http://www.w3.org/1999/html">
    <h2><%= pluralize(@customer.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Editing') + ' ' + Customer.human_name %> <i><%=  @customer.login %></i></h2>
  </div>
  <div class="content">
    <p align="right"><%= link_to t('Show'), @customer %> | <%= link_to t('Back'), customers_path %></p>
    <%= form_for(@customer) do |f| %>
          <% if @customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@customer.errors.count, t('error'))%> <%= t('error_explanation') %></h2>
              <ul>
              <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

      <fieldset class="login">
        <legend><%= Customer.human_name %></legend>

        <p><%= f.label :login %><br /><%= f.text_field :login %></p>
        <p><%= f.label :email %><br /><%= f.text_field :email %></p>
        <p><%= f.label :password %><br /><%= f.password_field :password %></p>
        <p><%= f.label :password_confirmation %><br /><%= f.password_field :password_confirmation %></p>
        <p><%= f.label :title %><br /><%= f.select :title, options_for_select(Customer::TITLES,@customer.title), :prompt => t('please select')  %></p>
        <p><%= f.label :firstname %><br /><%= f.text_field :firstname %></p>
        <p><%= f.label :lastname %><br /><%= f.text_field :lastname %></p>
        <p><%= f.label :taxnumber %><br /><%= f.text_field :taxnumber %></p>
        <p><%= f.label :wwwadress %><br /><%= f.text_field :wwwadress %></p>
      </fieldset>

      <fieldset class="login">
        <legend><%= Billingaddress.human_name %></legend>
        <%= f.fields_for :billingaddress do |a| %>
          <p><%= a.hidden_field :address_type, :value => "Rechnungsadresse" %><%= a.label :street %><br /><%= a.text_field :street %></p>
          <p><%= a.label :zipcode %><br /><%= a.text_field :zipcode %></p>
          <p><%= a.label :city %><br /><%= a.text_field :city %></p>
          <p><%= a.label :country %><br /><%= a.text_field :country %></p>
          <p><%= a.label :telnr %><br /><%= a.text_field :telnr %></p>
          <p><%= a.label :mobil %><br /><%= a.text_field :mobile %></p>
        <% end %>
      </fieldset>

      <fieldset class="login">
        <legend><%= Deliveryaddress.human_name %></legend>
        <%= f.fields_for :deliveryaddress do |a| %>
          <p><%= a.hidden_field :address_type, :value => "Lieferadresse" %><%= a.label :street %><br /><%= a.text_field :street %></p>
          <p><%= a.label :zipcode %><br /><%= a.text_field :zipcode %></p>
          <p><%= a.label :city %><br /><%= a.text_field :city %></p>
          <p><%= a.label :country %><br /><%= a.text_field :country %></p>
          <p><%= a.label :telnr %><br /><%= a.text_field :telnr %></p>
          <p><%= a.label :mobil %><br /><%= a.text_field :mobile %></p>
        <% end %>

        <%= hidden_field(:xy, :mode, :value => params[:mode])%>
      </fieldset>
      <p><%= f.submit  %></p>
    <% end %>
