<% if @block.errors.any? %>
  <div class="big-message error" xmlns="http://www.w3.org/1999/html">
    <h2><%= pluralize(@block.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <% @block.errors.full_messages.each do |msg| %>
      <p>&bull; <%= msg %></p>
    <% end %>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Block.human_name %> <i><%= @block.name %></i></h2>
  </div>
  <div class="content">

  <%= form_for(@block) do |f| %>
      
    <fieldset class="login">
      <legend><%= t(Block.human_name) %></legend>         
            <p><%= f.label :name %><br /><%= f.text_field :name %></p>
            <p><%= f.label :headerline %><br /><%= f.text_field :headerline %></p>
            <p><%= f.label :position %><br /><%= f.select :position, Block::POSITION %></p>
            <p><%= f.label :fieldorder %><br /><%= f.text_field :fieldorder %></p>
            <p><%= f.label :blockid %><br /> <%= f.select :blockid, Block::BLOCKID %></p>
            <p><%= f.label :active %>&nbsp; <%= f.check_box :active %></p>
            <p><%= f.label :auth_level %><br /><%= f.text_field :auth_level %></p>
            <p><%= f.label :auth_level_edit %><br /><%= f.text_field :auth_level_edit %></p>
            <p><%= f.submit %></p>
    </fieldset>
  <% end %>
