<tr class="linemain">
  <td colspan="2">
    <%= form_for(@block) do |f| %>
      <% if @block.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@block.errors.count, t('error'))%> <%= t('error_explanation') %></h2>

          <ul>
          <% @block.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>

      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :name %>
    </td>
    <td>
        <%= f.text_field :name %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :headerline %>
    </td>
    <td>
        <%= f.text_field :headerline %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :position %>
    </td>
    <td>
        <%= f.select :position, Block::POSITION %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :fieldorder %>
    </td>
    <td>
        <%= f.text_field :fieldorder %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :blockid %>
    </td>
    <td>
        <%= f.select :blockid, Block::BLOCKID %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :active %>
    </td>
    <td>
        <%= f.check_box :active %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :auth_level %>
    </td>
    <td>
        <%= f.number_field :auth_level, options = {:size => 5, :min => '0', :max => '100'} %>
    </td>
  </tr>

      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :auth_level_edit %>
    </td>
    <td>
        <%= f.number_field :auth_level_edit, options = {:size => 5, :min => '0', :max => '100'} %>
    </td>
  </tr>

      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
    <% end %>

