  <tr>
    <td class ="myTitle" width="100%" colspan="7">
	   <%= t('Listing ') + Block.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="7">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">

    <td><%= Block.human_attribute_name('name') %></td>
    <td><%= Block.human_attribute_name('headerline') %></td>
    <td><%= Block.human_attribute_name('position') %></td>
    <td><%= Block.human_attribute_name('fieldorder') %></td>
    <td><%= Block.human_attribute_name('blockid') %></td>
    <td><%= Block.human_attribute_name('active') %></td>
    <td><%= t 'action' %></td>
  </tr>

<% @blocks.each do |block| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><%= block.name %></td>
    <td><%= block.headerline %></td>
    <td><%= block.position %></td>
    <td><%= block.fieldorder %></td>
    <td><%= block.blockid %></td>
    <td><%= block.active %></td>
    <td align="right"><nobr><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), block %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_block_path(block) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), block, :confirm => t('Are you sure?'), :method => :delete %></nobr></td>
  </tr>
<% end %>


  <tr class="linemain">
    <td colspan="7">
	<%= link_to t('New ') + Block.human_name, new_block_path %>
    </td>
  </tr>

