  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('Show ') + Block.human_name %>
    </td>                
  </tr> 
  <tr class="tablelinemain">
    <td colspan="2">
      <%= notice %>
    </td>
  </tr> 

  <tr class="tableline<%= cycle('1', '2') %>">
    <td width="20%">
  	 <%= Block.human_attribute_name('name') %>
    </td>
    <td>
  	<%= @block.name %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
  	 <%= Block.human_attribute_name('headerline') %>
    </td>
    <td>
  	<%= @block.headerline %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
  	 <%= Block.human_attribute_name('position') %>
    </td>
    <td>
  	<%= @block.position %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
  	 <%= Block.human_attribute_name('fieldorder') %>
    </td>
    <td>
  	<%= @block.fieldorder %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
  	 <%= Block.human_attribute_name('blockid') %>
    </td>
    <td>
  	<%= @block.blockid %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
  	 <%= Block.human_attribute_name('active') %>
    </td>
    <td>
  	<%= @block.active %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
      <%= Block.human_attribute_name('auth_level') %>
    </td>
    <td>
    <%= @block.auth_level %>
    </td>
  </tr>

  <tr class="tableline<%= cycle('1', '2') %>">
    <td>
      <%= Block.human_attribute_name('auth_level_edit') %>
    </td>
    <td>
    <%= @block.auth_level_edit %>
    </td>
  </tr>
 
  <tr class="tablelinemain">
    <td colspan="2">
	<%= link_to t('Edit'), edit_block_path(@block) %> |
	<%= link_to t('Back'), blocks_path %>
    </td>
  </tr>
