
<% zahl = 1 + rand(14) %>


    <tr class= "line<%= cycle('1', '2') %>">
      <td valign="center">
        <img src="/images/insert<%= zahl.to_s %>.jpg" width="40" height="40" />&nbsp; &nbsp; <%= l news.date %>
      </td>
    <tr class= "line<%= cycle('1', '2') %>">
      <td>
        <%= news.notice %>
      </td>
    </tr>

