<tr>
  <td><%= t ('Article in basket') %></td>
  <td>    <%= basket.basketlines.count %></td>
</tr>
<tr class="odd">
  <td><%= t ('value') %></td>
  <td><%= number_to_currency(basket.basketlines.sum(:value)) %></td>
</tr>
<% if basket.basketlines.count > 0 %>
  <tr>
    <td colspan="2">
      <%= link_to t('My Order'), :controller => 'baskets', :action => 'show_my_open_order' %> |
      <%= link_to t('Checkout'), :controller => 'baskets', :action => 'checkout' %>
    </td>
  </tr>
<% end %>
