<%= form_for @user_session, :url => {:controller => 'user_sessions', :action => "create"} do |f| %>
  <table>
    <tr><td><%= f.label :login %></td><td><%= f.text_field :login , :size => 20 %></td></tr>
    <tr><td><%= f.label :password %></td><td><%= f.password_field :password, :size => 20 %></td></tr>
    <tr><td></td><td><%= f.submit t('login'), :class => "button small"%></td></tr>
  </table>

  <% if @config.shop_active == true %>
    &nbsp; &nbsp; <%= link_to t('New Customer'), { :controller => :customers, :action => :new } %>
  <% end %>
<% end %>
