
    <tr class= "tableline<%= cycle('1', '2') %>">
      <td>
        <%= t('logged in as') %> 
      </td>
    </tr>
    
    <tr class= "tableline<%= cycle('1', '2') %>">
      <td>
        <b><%= current_user.login %></b>
      </td>
    </tr>

    <tr class= "tableline<%= cycle('1', '2') %>">
      <td>
        <%= link_to t('My Account'), customers_path %>
      </td>
    </tr>   
                 
    <tr class= "tableline<%= cycle('1', '2') %>">
      <td>
        <%= link_to t('Logout'), logout_path %>
      </td>
    </tr>

