<% if block.active == true %>

  <% case block.blockid %>
     <% when 'menue' %>
      <div class="box">
        <h2><a href="#" id="toggle-tables" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="tables">
          <table>
            <%= render :partial => "shared/blocks/blockmenue", :locals => { :block => block }, :collection => read_menue, :as => :menue %>
          </table>    
        </div>
      </div>           
       
    <% when 'login' %>    
      <div class="box">
        <h2><a href="#" id="toggle-login-forms" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="login-forms">
          <table>
          <%= current_user ? ( render :partial => "shared/blocks/blocklogout" ) : ( render :partial => "shared/blocks/blocklogin" ) %>
          </table>    
        </div>
      </div>   

    <% when 'productclass' %>
      <div class="box">
        <h2><a href="#" id="toggle-productcatalog" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="productcatalog">
          <table>
          <%= render :partial => "shared/blocks/productclass", :collection => read_productclass, :as => :productclass %>
          </table>    
        </div>
      </div>   


    <% when 'news' %>
      <div class="box">
        <h2><a href="#" id="toggle-news" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="news">
          <table>
            <%= render :partial => "shared/blocks/news", :collection => read_block_news, :as => :news %>
          </table>    
        </div>
      </div>   
      
    <% when 'referenzen' %>
      <div class="box">
        <h2><a href="#" id="toggle-basket" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="basket">
            <%= render :partial => "shared/blocks/article", :collection => read_article('Referenzen'), :as => :article %>
        </div>
      </div>   
      
    <% when 'kundenmeinungen' %>
      <div class="box">
        <h2><a href="#" id="toggle-basket" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="basket">
          <table>
            <%= render :partial => "shared/blocks/article", :collection => read_article('Kundenmeinungen'), :as => :article %>
          </table>    
        </div>
      </div>   
      
    <% when 'basket' %>
      <div class="box">
        <h2><a href="#" id="toggle-basket" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="basket">
          <table>
            <%= render :partial => "shared/blocks/basket", :object => read_basket(request.session_options[:id]), :as => :basket %>
          </table>    
        </div>
      </div>   

    <% when 'search' %>    
      <div class="box">
        <h2><a href="#" id="toggle-search" style="cursor: pointer; " class="visible"><%= t(block.name) %></a></h2>
        <div class="block" id="search">
          <table>
          <%= render :partial => "shared/blocks/search" , :locals => { :mode => 'article' } %> 
          </table>    
        </div>
      </div>   
      
    <% when 'productsearch' %>
      <div class="box">
        <h2><a href="#" id="toggle-productsearch" style="cursor: pointer; " class="visible"><%= t "productsearch" %></a></h2>
        <div class="block" id="productsearch">
          <table>
          <%= render :partial => "shared/blocks/search" , :locals => { :mode => 'product' } %>
          </table>    
        </div>
      </div>   

    <% when 'userblock1' %>
      <%= render :partial => "shared/userblocks/userblock_1", :collection => read_userblock_1, :as => :userblock %>
    <% when 'userblock2' %>
      <%= render :partial => "shared/userblocks/userblock_2", :collection => read_userblock_2, :as => :userblock %>
    <% when 'userblock3' %>
      <%= render :partial => "shared/userblocks/userblock_3", :collection => read_userblock_3, :as => :userblock %>
    <% when 'userblock4' %>
      <%= render :partial => "shared/userblocks/userblock_4", :collection => read_userblock_4, :as => :userblock %>
    <% when 'userblock5' %>
      <%= render :partial => "shared/userblocks/userblock_5", :collection => read_userblock_5, :as => :userblock %>
    <% when 'userblock6' %>
      <%= render :partial => "shared/userblocks/userblock_6", :collection => read_userblock_6, :as => :userblock %>
    <% when 'userblock7' %>
      <%= render :partial => "shared/userblocks/userblock_7", :collection => read_userblock_7, :as => :userblock %>
    <% when 'userblock8' %>
      <%= render :partial => "shared/userblocks/userblock_8", :collection => read_userblock_8, :as => :userblock %>
    <% when 'userblock9' %>
      <%= render :partial => "shared/userblocks/userblock_9", :collection => read_userblock_9, :as => :userblock %>
    <% else %>
  <% end %>
<% end %>
