<center>
	<div class='logo' style=("overflow: scroll;")>
	  <%= image_tag('customers/cern.png') %>
	  <%= image_tag('customers/brg16.png')  %>
	  <%= image_tag('customers/bogner.png') %>
	  <%= image_tag('customers/astronomie_wien.png') %>
	  <%= image_tag('customers/donauchemie.png') %>
	  <%= image_tag('customers/frankstahl.png') %>
	  <%= image_tag('customers/ivellio-vellin.png') %>
	  <%= image_tag('customers/karner.png') %>
	  <%= image_tag('customers/kernphysik.png') %>
	  <%= image_tag('customers/km.png') %>
	  <%= image_tag('customers/ksw.png') %>
	  <%= image_tag('customers/usw.png') %>
	  <%= image_tag('customers/technikum.png') %>
	  <%= image_tag('customers/zpw.png') %>
	  <%= image_tag('customers/zellstoff.png') %>
	  <%= image_tag('customers/villeroy.png') %>
	  <%= image_tag('customers/hamm.png') %>
	  <%= image_tag('customers/krefeld.png') %>
	  <%= image_tag('customers/salzburg.png') %>
	  <%= image_tag('customers/solingen.png') %>
	  <%= image_tag('customers/nölke.png') %>
	  <%= image_tag('customers/montedison.png') %>
	  <%= image_tag('customers/ici.png') %>
	  <%= image_tag('customers/hidrola.png') %>
	  <%= image_tag('customers/bobst.png') %>
	  <%= image_tag('customers/voith.png') %>
	  <%= image_tag('customers/genossen.png') %>
	  <%= image_tag('customers/unifrost.png') %>
	  <%= image_tag('customers/agrana.png') %>
	  <%= image_tag('customers/steyr.png') %>
	  <%= image_tag('customers/semperit.png') %>
	  <%= image_tag('customers/nöm.png') %>
	  <%= image_tag('customers/mfl.png') %>
	  <%= image_tag('customers/lego.png') %>
	  <%= image_tag('customers/europapier.png') %>
	  <%= image_tag('customers/felten.png') %>
	  <%= image_tag('customers/sap.png') %>
	  <%= image_tag('customers/bomag.png') %>
	  <%= image_tag('customers/ocel.png') %>
	  <%= image_tag('customers/önb.png') %>
	  <%= image_tag('customers/öbb.png') %>
	  <%= image_tag('customers/geberit.png') %>
	  <%= image_tag('customers/avl.png') %>
	  <%= image_tag('customers/grundfos.png') %>
	  <%= image_tag('customers/heiss.png') %>
	  <%= image_tag('customers/scheiber.png') %>
	  <%= image_tag('customers/diversey.png') %>
  </div>
</center>