  <tr>
    <td class ="myTitle" width="100%" colspan="4">
	     <%= t('Listing ') + Productclass.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="4">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">

    <td><%= Productclass.human_attribute_name('name') %></td>
    <td><%= Productclass.human_attribute_name('parent') %></td>
    <td><%= Productclass.human_attribute_name('image_url') %></td>
    <td><%= t 'action' %></td>
  </tr>

<% @productclasses.each do |productclass| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><%= productclass.name %></td>
    <% if productclass.parent %>
      <td><%= productclass.parent.name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= productclass.picture %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), productclass %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_productclass_path(productclass) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), productclass, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>


  <tr class="linemain">
    <td colspan="4">
	<%= link_to t('New ') + Productclass.human_name, new_productclass_path %>
    </td>
  </tr>

