<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%%= t('Administration') + ' ' + <%= class_name %>.human_name %></a></h2>
<div class="block" id="main">

  <%%= form_for(@<%= singular_table_name %>) do |f| %>
    <%% if @<%= singular_table_name %>.errors.any? %>
      <div id="error_explanation">
        <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, t('error')) %> <%%= t('error_explanation') %></h2>
        <ul>
        <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
          <li><%%= msg %></li>
        <%% end %>
        </ul>
      </div>
    <%% end %>
      
    <fieldset class="login">
      <legend><%%= t(<%= class_name %>.human_name) %></legend>         
      <% for attribute in attributes -%>
      <p><%%= f.label :<%= attribute.name %> %> <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></p>
      <% end -%>
      <%%= f.submit %>
    </fieldset>
  <%% end %>
</div>   

