<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%%= t('Administration') + ' ' + <%= class_name %>.human_name %></a></h2>
<div class="block" id="main">

  <table>
    <%% if flash[:notice]%>
      <tr class="lineerror">
        <td colspan="5">
          <%%= flash[:notice] %>
        </td>
      </tr>
    <%% end %>

    <thead>
      <tr>
        <th class="table-head" colspan="<%=attributes.length() + 1 %>"><%%= t('Listing ') + <%= class_name %>.human_name %></th>
      </tr>
      <tr>
        <% for attribute in attributes -%>
        <th><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %></th>
        <% end -%>
        <th><%%= t('action') %></th>
      </tr>
    </thead>  

    <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr class="<%%= cycle('odd', '') %>">
    <% for attribute in attributes -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
      <td align="right"><nobr>
          <%%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), <%= singular_table_name %> %>
          <%%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
          <%%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), <%= singular_table_name %>, :confirm => t('Are you sure?'), :method => :delete %>
        </nobr></td>
      </tr>
    <%% end %>
    </tbody>
    <tfoot>
      <tr class="linemain">
        <th colspan="<%=attributes.length() + 1 %>">
          <%%= link_to t('New ') + <%= class_name %>.human_name, new_<%= singular_table_name %>_path %>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
