  <tr>
    <td class ="myTitle" width="100%" colspan="<%=attributes.length() + 1 %>">
      <%%= t('Listing ') + <%= class_name %>.human_name %>
    </td>
  </tr>

  <%% if flash[:notice]%>
    <tr class="tablelineerror">
      <td colspan="5">
        <%%= flash[:notice] %>
      </td>
    </tr>
  <%% end %>

  <tr class="tablelineheader">
  <% for attribute in attributes -%>
  <td><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %></td>
  <% end -%>
  <td><%%= t('action') %></td>
  </tr>

  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr class= "tableline<%%= cycle('1', '2') %>">
  <% for attribute in attributes -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
  <% end -%>
    <td align="right">
        <%%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), <%= singular_table_name %> %>
        <%%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
        <%%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), <%= singular_table_name %>, :confirm => t('Are you sure?'), :method => :delete %>
      </td>
    </tr>
  <%% end %>

  <tr class="tablelinemain">
    <td colspan="<%=attributes.length() + 1 %>">
      <%%= link_to t('New ') + <%= class_name %>.human_name, new_<%= singular_table_name %>_path %>
    </td>
  </tr>

