  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      Show <%= singular_table_name %>
    </td>                
  </tr> 
  <tr class="tablelinemain">
    <td colspan="2">
      <%%= notice %>
    </td>
  </tr> 

<% for attribute in attributes -%>
  <tr class="tableline<%%= cycle('1', '2') %>">
    <td width="20%">
  	<%= attribute.human_name %>
    </td>
    <td>
  	<%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </td>
  </tr>

<% end -%>
  <tr class="tablelinemain">
    <td colspan="2">
	<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
	<%%= link_to 'Back', <%= index_helper %>_path %>
    </td>
  </tr>
