<% if flash[:notice] %>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>


<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + t('pictures') %></h2>
  </div>

  <div class="content">
    <h1><%= t('upload files')%></h1>

      <% if params[:picture] != '' and params[:type] == 'image' %>
          <p><%= image_tag(params[:picture],:height => '150') %></p>
      <% end %>

      <p><%= form_tag('', :multipart => true ) %> <%= t('file') %></p>
      <p><%= file_field_tag(:image_file, :style => "width: 30em") %></p>
      <p><%= submit_tag (t('create')) %></p>
  </div>
</div>