<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + t('Bilder') %></a></h2>

<br/>
<%= notice %>


<table>
  <thead>
    <tr>
      <th class ="myTitle" width="100%" colspan="2">
	       <%= t('upload files')%>
      </th>
    </tr>
  </thead>

  <% if params[:picture] != '' and params[:type] == 'image' %>
    <tr class= "<%= cycle('odd', '') %>">
      <td>
      </td>
      <td>
        <%= image_tag(params[:picture],:height => '150') %>
      </td>
    </tr>
  <% end %>

  <tr class= "<%= cycle('odd', '') %>">
    <td>
    <%= form_tag('', :multipart => true ) %>
        <%= t('file') %>
    </td>
    <td>
        <%= file_field_tag(:image_file, :style => "width: 30em") %>
    </td>
  </tr>
  
  <tfoot>
    <tr>
      <td></td>
      <td>
        <%= submit_tag (t('create')) %>
      </td>
    </tr>
  </tfoot>
</table>
