<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + Payment.human_name %></a></h2>
<div class="block" id="main">

  <%= form_for(@payment) do |f| %>
    <% if @payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@payment.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
        <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      
    <fieldset class="login">
      <legend><%= t(Payment.human_name) %></legend>         
            <p><%= f.label :name %> <%= f.text_field :name %></p>
            <p><%= f.label :cost %> <%= f.text_field :cost %></p>
            <p><%= f.label :auth_level %> <%= f.text_field :auth_level %></p>
            <p><%= f.label :auth_level_edit %> <%= f.text_field :auth_level_edit %></p>
            <%= f.submit %>
    </fieldset>
  <% end %>
</div>   

