<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Payment.model_name.human %><i><%= @payment.name %></i></h2>
  </div>
  <div class="content">
    <% if flash[:notice] %>
      <div class="message success"><%= flash[:notice] %></div>
    <% end %>

    <p align="right"><%= link_to t('Edit'), edit_payment_path(@payment) %> | <%= link_to t('Back'), payments_path %></p>
    <table class="listing">
      <thead>
        <tr>
          <th><%= t('Key')%></th>
          <th><%= t('Value')%></th>
        </tr>
      </thead>
      <tbody>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Payment.human_attribute_name('name') %></td>
          <td><%= @payment.name %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Payment.human_attribute_name('cost') %></td>
          <td><%= @payment.cost %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Payment.human_attribute_name('auth_level') %></td>
          <td><%= @payment.auth_level %></td>
        </tr>
        <tr class="<%= cycle('', 'even') %>">
          <td width="30%"><%= Payment.human_attribute_name('auth_level_edit') %></td>
          <td><%= @payment.auth_level_edit %></td>
        </tr>
      </tbody>
    </table>
    <p><%= link_to t('Edit'), edit_payment_path(@payment) %> | <%= link_to t('Back'), payments_path %></p>
  </div>
</div>