<tr class="linemain">
  <td colspan="2">
    <%= form_for(@address) do |f| %>
      <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, t('error'))%> <%= t('error_explanation') %></h2>

          <ul>
          <% @address.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>

  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :street %>
    </td>
    <td>
        <%= f.text_field :street %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :city %>
    </td>
    <td>
        <%= f.text_field :city %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :zipcode %>
    </td>
    <td>
        <%= f.text_field :zipcode %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :country %>
    </td>
    <td>
        <%= f.text_field :country %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :telnr %>
    </td>
    <td>
        <%= f.text_field :telnr %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :mobile %>
    </td>
    <td>
        <%= f.text_field :mobile %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :addressable_id %>
    </td>
    <td>
        <%= f.text_field :addressable_id %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :addressable_type %>
    </td>
    <td>
        <%= f.text_field :addressable_type %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :address_type %>
    </td>
    <td>
        <%= f.text_field :address_type %>
    </td>
  </tr>
      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
    <% end %>

