  <tr>
    <td class ="myTitle" width="100%" colspan="10">
      <%= t('Listing ') + Address.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">
    <td><%= Address.human_attribute_name('street') %></td>
    <td><%= Address.human_attribute_name('city') %></td>
    <td><%= Address.human_attribute_name('zipcode') %></td>
    <td><%= Address.human_attribute_name('country') %></td>
    <td><%= Address.human_attribute_name('telnr') %></td>
    <td><%= Address.human_attribute_name('mobile') %></td>
    <td><%= Address.human_attribute_name('addressable_id') %></td>
    <td><%= Address.human_attribute_name('addressable_type') %></td>
    <td><%= Address.human_attribute_name('address_type') %></td>
    <td><%= t('action') %></td>
  </tr>

  <% @addresses.each do |address| %>
    <tr class= "line<%= cycle('1', '2') %>">
      <td><%= address.street %></td>
      <td><%= address.city %></td>
      <td><%= address.zipcode %></td>
      <td><%= address.country %></td>
      <td><%= address.telnr %></td>
      <td><%= address.mobile %></td>
      <td><%= address.addressable_id %></td>
      <td><%= address.addressable_type %></td>
      <td><%= address.address_type %></td>
      <td align="right">
        <%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), address %>
        <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_address_path(address) %>
        <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), address, :confirm => t('Are you sure?'), :method => :delete %>
      </td>
    </tr>
  <% end %>

  <tr class="linemain">
    <td colspan="10">
      <%= link_to t('New ') + Address.human_name', new_address_path %>
    </td>
  </tr>

