<% if @product.errors.any? %>
  <div class="big-message success">
    <h2><%= pluralize(@product.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Productclass.human_name %></h2>
  </div>
  <div class="content">
    <%= form_for(@product, :html => { :multipart => true }) do |f| %>
    <fieldset class="login">
      <legend><%= Productclass.human_name %></legend>
      <p><%= f.label :shorttext %><br /><%= f.text_field :shorttext %></p>
      <p><%= f.label :description %><br /><%= f.text_area :description %></p>
      <p><%= f.label :producer %><br /><%= f.text_field :producer %></p>
      <p><%= f.label :productclass_id %><br /><%= f.collection_select :productclass_id, @productclasses, :id, :name, :prompt => t('please select')  %></p>
      <p><%= f.label :price %><br /><%= f.text_field :price, :value => number_with_precision(@product.price, :delimiter => ".", :separator => ',' ) %>
      <%#= f.amount_field :price %></p>
      <p><%= f.label :special_price %><br />
         <%= f.text_field :special_price, :value => number_to_currency(@product.special_price, :unit=>"", :locale => 'de') %> <%= tooltip('admin_product_special_price', :hoover) %></p>
      <p><%= f.label :product_features %><br /><%= f.text_field :product_features %></p>
      <p><%= f.label :weight %><br /><%= f.text_field :weight %></p>
      <p><%= f.label :unit_of_weight %><br /><%= f.text_field :unit_of_weight %></p>
      <p><%= f.label :unit_of_quantity %><br /><%= f.text_field :unit_of_quantity %></p>
      <p><%= f.label :tax_percentage %><br /><%= f.text_field :tax_percentage %></p>
        <%= f.fields_for :assets do |asset| %>
           <% if asset.object.new_record? %>
                 <p><%= f.label :image %><%= asset.file_field :image %></p>
           <% end %>
        <% end %>
      <p><%= f.label :image, t('Delete Image') %><br />
         <% f.fields_for :assets do |asset| %>
           <% unless asset.object.new_record? %>
            <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original),:target => "_blank" ) %>
            <%= asset.check_box :_destroy %> <%= tooltip('admin_product_delete_picture', :hoover) %>
          <% end %>
        <% end %>
      </p>
      <p><%= f.label :sheet %><br /><%= f.file_field :sheet %></p>
      <% if @product.sheet_file_name != nil %>
        <p><%= f.label :sheet, t('Delete Sheet') %><br />
           <%= image_tag (@product.sheet.url(:preview))  %> <%= f.check_box(:delete_sheet) %> <%= tooltip('admin_product_delete_sheet', :hoover) %></p>
         <% end %>
      <p><%= f.submit %></p>
    </fieldset>
    <% end %>
