<tr class="linemain">
  <td colspan="2">
    <%= form_for(@product, :html => { :multipart => true }) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, t('error'))%> <%= t('error_explanation') %></h2>

          <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </td>
  </tr>

  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :shorttext %>
    </td>
    <td>
        <%= f.text_field :shorttext %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :description %>
    </td>
    <td>
        <%= f.text_area :description %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :producer %>
    </td>
    <td>
        <%= f.text_field :producer %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :productclass_id %>
    </td>
    <td>
        <%= f.collection_select :productclass_id, @productclasses, :id, :name, :prompt => t('please select')  %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :price %>
    </td>
    <td>
        <%= f.text_field :price, :value => number_with_precision(@product.price, :delimiter => ".", :separator => ',' ) %>
        <%#= f.amount_field :price %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :special_price %>&nbsp &nbsp <%= tooltip('admin_product_special_price', :hoover) %>
    </td>
    <td>
        <%= f.text_field :special_price, :value => number_to_currency(@product.special_price, :unit=>"", :locale => 'de') %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :product_features %>
    </td>
    <td>
        <%= f.text_field :product_features %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :weight %>
    </td>
    <td>
        <%= f.text_field :weight %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :unit_of_weight %>
    </td>
    <td>
        <%= f.text_field :unit_of_weight %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :unit_of_quantity %>
    </td>
    <td>
        <%= f.text_field :unit_of_quantity %>
    </td>
  </tr>
      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :tax_percentage %>
    </td>
    <td>
        <%= f.text_field :tax_percentage %>
    </td>
  </tr>
  <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :image %>
    </td>
    <td>
        <%= f.fields_for :assets do |asset| %>

           <% if asset.object.new_record? %>
                 <%= asset.file_field :image %></br>
           <% end %>

       <% end %>
    </td>
  </tr>

      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :image %>&nbsp &nbsp <%= tooltip('admin_product_delete_picture', :hoover) %>
    </td>
    <td>

     <% f.fields_for :assets do |asset| %>
       <% unless asset.object.new_record? %>
        <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original),:target => "_blank" ) %>
        <%= asset.check_box :_destroy %>
      <% end %>
    <% end %>

    </td>
  </tr>



      <tr class= "line<%= cycle('1', '2') %>">
    <td>
        <%= f.label :sheet %>&nbsp &nbsp <%= tooltip('admin_product_delete_sheet', :hoover) %>
    </td>
    <td>
        <%= f.file_field :sheet %>
        <%= image_tag (@product.sheet.url(:preview)) if @product.sheet_file_name != nil %>
        <%= f.check_box(:delete_sheet) %>
    </td>
  </tr>
      <tr>
    <td></td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
    <% end %>

