<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + Productclass.human_name %></a></h2>
<div class="block" id="main">
  <%= form_for(@product, :html => { :multipart => true }) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, t('error'))%> <%= t('error_explanation') %></h2>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <fieldset class="login">
    <legend><%= Productclass.human_name %></legend>         
    <p><%= f.label :shorttext %><%= f.text_field :shorttext %></p>
    <p><%= f.label :description %><%= f.text_area :description %></p>
    <p><%= f.label :producer %><%= f.text_field :producer %></p>
    <p><%= f.label :productclass_id %><%= f.collection_select :productclass_id, @productclasses, :id, :name, :prompt => t('please select')  %></p>
    <p><%= f.label :price %><%= f.text_field :price, :value => number_with_precision(@product.price, :delimiter => ".", :separator => ',' ) %>
    <%#= f.amount_field :price %></p>
    <p><%= f.label :special_price %>
       <%= f.text_field :special_price, :value => number_to_currency(@product.special_price, :unit=>"", :locale => 'de') %> <%= tooltip('admin_product_special_price', :hoover) %></p>
    <p><%= f.label :product_features %><%= f.text_field :product_features %></p>
    <p><%= f.label :weight %><%= f.text_field :weight %></p>
    <p><%= f.label :unit_of_weight %><%= f.text_field :unit_of_weight %></p>
    <p><%= f.label :unit_of_quantity %><%= f.text_field :unit_of_quantity %></p>
    <p><%= f.label :tax_percentage %><%= f.text_field :tax_percentage %></p>
      <%= f.fields_for :assets do |asset| %>
         <% if asset.object.new_record? %>
               <p><%= f.label :image %><%= asset.file_field :image %></p>
         <% end %>
      <% end %>
    <p><%= f.label :image, t('Delete Image') %>
       <% f.fields_for :assets do |asset| %>
         <% unless asset.object.new_record? %>
          <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original),:target => "_blank" ) %>
          <%= asset.check_box :_destroy %> <%= tooltip('admin_product_delete_picture', :hoover) %>
        <% end %>         
      <% end %>
    </p>
    <p><%= f.label :sheet %><%= f.file_field :sheet %></p>
    <% if @product.sheet_file_name != nil %>
      <p><%= f.label :sheet, t('Delete Sheet') %>     
         <%= image_tag (@product.sheet.url(:preview))  %> <%= f.check_box(:delete_sheet) %> <%= tooltip('admin_product_delete_sheet', :hoover) %></p>
       <% end %>
    <%= f.submit %>
  </fieldset>
  <% end %>
</div>
