  <tr>
    <td class ="myTitle" width="100%" colspan="8">
	     <%= t('Listing ') + Product.human_name %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="lineerror">
      <td colspan="8">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="lineheader">

    <td><%= Product.human_attribute_name('shorttext') %></td>
    <td><%= Product.human_attribute_name('price') %></td>
    <td><%= Product.human_attribute_name('product_features') %></td>
    <td><%= Product.human_attribute_name('weight') %></td>
    <td><%= Product.human_attribute_name('unit_of_weight') %></td>
    <td><%= Product.human_attribute_name('unit_of_quantity') %></td>
    <td><%= Product.human_attribute_name('tax_percentage') %></td>
    <td><%= t 'action' %></td>
  </tr>

<% @products.each do |product| %>
  <tr class= "line<%= cycle('1', '2') %>">
    <td><%= product.shorttext %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= product.product_features %></td>
    <td><%= product.weight %></td>
    <td><%= product.unit_of_weight %></td>
    <td><%= product.unit_of_quantity %></td>
    <td><%= product.tax_percentage %></td>
    <td align="right"><%= link_to image_tag("show.png", :border=>0, :alt => t('show'), :title => t('show')), product %>
    <%= link_to image_tag("edit.png", :border=>0, :alt => t('edit'), :title => t('edit')), edit_product_path(product) %>
    <%= link_to image_tag("delete.png", :border=>0, :alt => t('delete'), :title => t('delete')), product, :confirm => t('Are you sure?'), :method => :delete %></td>
  </tr>
<% end %>


  <tr class="linemain">
    <td colspan="8">
	<%= link_to t('New ') + Product.human_name , new_product_path %>
    </td>
  </tr>

