<% if flash[:notice]%>
  <div class="big-message success" xmlns="http://www.w3.org/1999/html">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Show ') + Product.model_name.human %> <i><%= @product.shorttext %></i></h2>
  </div>
  <div class="content">
    <div class="vertical-tabs">
      <div class="tab-list">
        <ul>
          <li class="active"><a href="general"><%= t("General") %></a></li>
          <li><a href="description"><%= t("Description") %></a></li>
          <li><a href="picture"><%= t("Picture") %></a></li>
        </ul>
      </div>
      <div id="general" class="right-tab">
        <table class="listing">
          <%= render :partial => "shared/product_general", :object => @product, :as => :product %>
        </table>
      </div>
      <div id="description" class="right-tab">
        <table class="listing">
          <%= render :partial => "shared/product_description", :object => @product, :as => :product %>
        </table>
      </div>
      <div id="picture" class="right-tab">
        <table class="listing">
           <%= render :partial => "shared/product_picture", :object => @product, :as => :product %>
        </table>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  <p><%= link_to_function t('Back'), "history.back()"  %></p>
  </div>
</div>