  <tr>
    <td class ="myTitle" width="100%" colspan="8">
      <% if @products.first != nil %>
	      <%= t('Listing Catagory ') + @products.first.productclass.name %>
	    <% else %>
        <%= t('Listing ') + Product.human_name %>
	    <% end %>
    </td>
  </tr>

  <% if flash[:notice]%>
    <tr class="tablelineerror">
      <td colspan="5">
        <%= flash[:notice] %>
      </td>
    </tr>
  <% end %>

  <tr class="tablelineheader">

    <td><%= Product.human_attribute_name('image_url') %></td>
    <td><%= Product.human_attribute_name('shorttext') %></td>
    <td><%= Product.human_attribute_name('price') %></td>
    <td><%= Product.human_attribute_name('quantity') %></td>
    <td></td>
  </tr>

<% @products.each do |product| %>
  <tr class= "tableline<%= cycle('1', '2') %>">
    <td width="5%"><%= link_to (image_tag ("product/"+product.image_url),:height => '150'), :controller => 'products', :action => 'product_detail', :id => product.id %></td>
    <td width ="35%">
      <%= link_to (product.shorttext), :controller => 'products', :action => 'product_detail', :id => product.id %></br></br>
      <%= truncate(raw(product.description), :length => 200) %>
    </td>
    <% if product.special_price > 0 and product.special_price < product.price %>
      <td><span style="text-decoration: line-through;"><%= number_to_currency(product.price) %></span></br>
      <%= number_to_currency(product.special_price) %></td>
    <% else %>
      <td><%= number_to_currency(product.price) %></td>
    <% end %>
    <%= form_for product, :url => {:controller => 'baskets', :action => 'add_to_basket', :id => product.id} do |p| %>
   	  <td><%= number_field(:basketline, :quantity, options = {:size => 5, :value => '1', :min => '1', :max => '99', :class => "basket_input"})%></td>
      <%= p.hidden_field(:product_id, :value => product.id)%>
      <td><%= image_submit_tag("/images/bestellen.png") %></td>
    <% end %>
  </tr>
<% end %>

