<h2><a href="#" id="toggle-main" style="cursor: pointer; " class="visible">&nbsp;<%= t('Administration') + ' ' + Shipment.human_name %></a></h2>
<div class="block" id="main">

  <%= form_for(@shipment) do |f| %>
    <% if @shipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@shipment.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
        <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      
    <fieldset class="login">
      <legend><%= t(Shipment.human_name) %></legend>         
            <p><%= f.label :name %> <%= f.text_field :name %></p>
            <p><%= f.label :weight_max %> <%= f.text_field :weight_max %></p>
            <p><%= f.label :lenght_max %> <%= f.text_field :lenght_max %></p>
            <p><%= f.label :scale_id %> <%= f.text_field :scale_id %></p>
            <p><%= f.label :auth_level %> <%= f.text_field :auth_level %></p>
            <p><%= f.label :auth_level_edit %> <%= f.text_field :auth_level_edit %></p>
            <%= f.submit %>
    </fieldset>
  <% end %>
</div>   

