<% if @shipment.errors.any? %>
  <div class="big-message success">
    <h2><%= pluralize(@shipment.errors.count, t('error')) %> <%= t('error_explanation') %></h2>
    <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Shipment.human_name %></h2>
  </div>
  <div class="content">
    <%= form_for(@shipment) do |f| %>
      <fieldset class="login">
        <legend><%= t(Shipment.human_name) %></legend>
          <p><%= f.label :name %><br /><%= f.text_field :name %></p>
          <p><%= f.label :weight_max %><br /><%= f.text_field :weight_max %></p>
          <p><%= f.label :lenght_max %><br /><%= f.text_field :lenght_max %></p>
          <p><%= f.label :scale_id %><br /><%= f.text_field :scale_id %></p>
          <p><%= f.label :auth_level %><br /><%= f.text_field :auth_level %></p>
          <p><%= f.label :auth_level_edit %><br /><%= f.text_field :auth_level_edit %></p>
          <p><%= f.submit %></p>
      </fieldset>
    <% end %>