  <tr>
    <td class ="myTitle" width="100%" colspan="2">
      <%= t('Show ') + Shipment.human_name %>
    </td>
  </tr>
  <tr class="linemain">
    <td colspan="2">
      <%= notice %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Shipment.human_attribute_name('name') %>
    </td>
    <td>
      <%= @shipment.name %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Shipment.human_attribute_name('weight_max') %>
    </td>
    <td>
      <%= @shipment.weight_max %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Shipment.human_attribute_name('lenght_max') %>
    </td>
    <td>
      <%= @shipment.lenght_max %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Shipment.human_attribute_name('scale_id') %>
    </td>
    <td>
      <%= @shipment.scale_id %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Shipment.human_attribute_name('auth_level') %>
    </td>
    <td>
      <%= @shipment.auth_level %>
    </td>
  </tr>

  <tr class="line<%= cycle('1', '2') %>">
    <td width="20%">
      <%= Shipment.human_attribute_name('auth_level_edit') %>
    </td>
    <td>
      <%= @shipment.auth_level_edit %>
    </td>
  </tr>

  <tr class="linemain">
    <td colspan="2">
  <%= link_to t('Edit'), edit_shipment_path(@shipment) %> |
  <%= link_to t('Back'), shipments_path %>
    </td>
  </tr>

