<% if flash[:notice]%>
  <div class="big-message success">
    <h2><%= flash[:notice] %></h2>
    <div class="bg"></div>
    <div class="close"></div>
  </div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Administration') + ' ' + Shipment.model_name.human %></h2>
  </div>
  <div class="content">
    <p align="right"><%= link_to t('Edit'), edit_shipment_path(@shipment) %> | <%= link_to t('Back'), shipments_path %></p>
    <table class="listing">
      <thead>
        <tr>
          <th><%= t('Key')%></th>
          <th><%= t('Value')%></th>
        </tr>
      </thead>

      <tbody>
        <tr class="line<%= cycle('', 'even') %>">
          <td width="30%"><%= Shipment.human_attribute_name('name') %></td>
          <td><%= @shipment.name %></td>
        </tr>
        <tr class="line<%= cycle('', 'even') %>">
          <td width="30%"><%= Shipment.human_attribute_name('weight_max') %></td>
          <td><%= @shipment.weight_max %></td>
        </tr>
        <tr class="line<%= cycle('', 'even') %>">
          <td width="30%"><%= Shipment.human_attribute_name('lenght_max') %></td>
          <td><%= @shipment.lenght_max %></td>
        </tr>
        <tr class="line<%= cycle('', 'even') %>">
          <td width="30%"><%= Shipment.human_attribute_name('scale_id') %></td>
          <td><%= @shipment.scale_id %></td>
        </tr>
        <tr class="line<%= cycle('', 'even') %>">
          <td width="30%"><%= Shipment.human_attribute_name('auth_level') %></td>
          <td><%= @shipment.auth_level %></td>
        </tr>
        <tr class="line<%= cycle('', 'even') %>">
          <td width="30%"><%= Shipment.human_attribute_name('auth_level_edit') %></td>
          <td><%= @shipment.auth_level_edit %></td>
        </tr>
      </tbody>
    </table>
    <p><%= link_to t('Edit'), edit_shipment_path(@shipment) %> | <%= link_to t('Back'), shipments_path %></p>
  </div>
</div>