<% if @user_session.errors.any? %>
  <div class="big-message success">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this block from being saved:</h2>
    <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <div class="bg"></div>
  <div class="close"></div>
<% end %>

<div class="block">
  <div class="top">
    <h2><%= t('Login') %></h2>
  </div>
  <div class="content">

    <%= form_for @user_session, :url => {:action => "create"} do |f| %>
      <p><%= f.label :login %><br /><%= f.text_field :login %></p>
      <p><%= f.label :password %><br /><%= f.password_field :password %></p>
      <p><%= f.label :remember_me %>&nbsp;<%= f.check_box :remember_me %></p>
      <p> <%= f.submit "Login" %></p>
    <% end %>
  </div>
</div>