<!DOCTYPE html>
<html>
  <head>
    <title><%= @config.title %></title>

    <%= stylesheet_link_tag ( @config.theme + '/reset.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/text.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/grid.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/layout.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/nav.css' ), :media => :screen %>
    <!--[if IE 6]><%= stylesheet_link_tag ( @config.theme + 'ie6.css' ), :media => :screen %><![endif]-->
		<!--[if IE 7]><%= stylesheet_link_tag ( @config.theme + 'ie.css' ), :media => :screen %><![endif]-->

    <%= stylesheet_link_tag @printsheet, :media => :print %>
    <%= stylesheet_link_tag("simple_tooltip") %>
    <%= javascript_include_tag :all %>
    <%#=WICHTIG es muss sichergestellt sein, dass die rails.js nach der jquery.js geladen wird    %>
    <%#=darum habe ich die rails.js in rails-3.0 umbenannt, weil sie sonst vor der jquery.js geladen werden würde    %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="container_16" width="<%=@config.pagewidth%>%">
    
      <div class="grid_16" align=<%= @config.position_logo %>>
       <h2 id="branding"><img src="<%=@logo %>" alt="Logo"></h1>
      </div>
      
      <div class="clear"></div>
      
      <div class="grid_16">
        <ul class="nav main"> 
        <%= render :partial => "shared/menue", :collection => @menue_top, :as => :menue %>
        <li><%= link_to_function(image_tag("print.png", :style => "vertical-align:middle", :border => 0, :alt => t('print'), :title => t('print')), "javascript:print()") %></li>
        </ul>
      </div>

      &nbsp;      
      <div class="clear"></div>

      <% if @config.block_left == true %>
        <div class="grid_<%=@config.block_left_width%>">
          <%= render :partial => "shared/blocks/blocks", :collection => @lblocks, :as => :block %>
        </div>
      <% end %>
      <% if @config.topimage == true and controller.action_name == 'showme' %>
        <div class="topimage" align="center"><%= render :partial => "shared/topimage" %> </div>
      <% end %>
      <div class="grid_<%= 16 - @config.block_left_width - @config.block_right_width %>">
        <div class="box">
          <h2><a href="#" id="toggle-login-forms" style="cursor: pointer; " class="visible">&nbsp;<%#= t('article') %></a></h2>
          <div class="block" id="login-forms">
            <%= yield %>
          </div>
        </div>
      </div>
      <% if @config.block_right == true %>
        <div class="grid_<%=@config.block_right_width%>">
          <%= render :partial => "shared/blocks/blocks", :collection => @rblocks, :as => :block %>
        </div>
      <% end %>

      <div class="clear"></div>
            
      <div class="grid_16">
          <%= render :partial => "shared/footer" %>
      </div>
      
    </div>
  </body>
</html>

