<!DOCTYPE html>
<html>
  <head>
    <title><%= @config.title %></title>
    <%= stylesheet_link_tag @stylesheet %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <table class="fullpage" width="<%=@config.pagewidth%>%" align="center">
      <tr class="header">
        <td colspan="3" align=<%= @config.position_logo %> ><img src="<%=@logo %>" alt="Logo"></td>
      </tr>
      <tr class="nav">
        <td colspan="3"> <ul> <%= render :partial => "shared/menue", :collection => @menue_top, :as => :menue %> </ul></td>
      </tr>
      <tr class="container">
        <% if @config.block_left == true %>
          <td class="sidebar" width=<%=@config.block_left_width%>%> <%= render :partial => "shared/blocks/blocks", :collection => @lblocks, :as => :block %> </td>
        <% end %>
        <td valign="top">
          <% if @config.topimage == true and controller.action_name == 'showme' %> <div class="topimage" align="center"><%= render :partial => "shared/topimage" %> </div> <% end %>
          <table class="content" align="center">
            <%= yield %>
          </table>
        </td>
        <% if @config.block_right == true %>
          <td class="sidebar" width=<%=@config.block_right_width%>% valign="top">
            <%= render :partial => "shared/blocks/blocks", :collection => @rblocks, :as => :block %>
          </td>
        <% end %>
      </tr>
      <tr class ="footer">
        <td colspan="3">
          <%= render :partial => "shared/footer" %>
        </td>
      </tr>
    </table>
  </body>
</html>

