<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= @config.title %></title>

    <%= stylesheet_link_tag ( @config.theme + '/templates/js/jwysiwyg/jquery.wysiwyg.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/js/fancybox/jquery.fancybox-1.3.4.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/js/jdpicker/jdpicker.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/js/visualize/css/visualize.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/js/fullcalendar/fullcalendar.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/css/datatable.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/css/style.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/css/soft-red.css' ), :media => :screen %>
    <%= stylesheet_link_tag ( @config.theme + '/templates/css/fonts.css' ), :media => :screen %>
    <%= stylesheet_link_tag @printsheet, :media => :print %>
    <%= stylesheet_link_tag("simple_tooltip") %>

    <%= javascript_include_tag :all %>
    <%#= javascript_include_tag ( @config.theme + '/templates/js/jquery-1.6.4.min.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/wrappers.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery-ui-1.8.16.custom.min.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery.uniform/jquery.uniform.min.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery-css-transform.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jwysiwyg/jquery.wysiwyg.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jdpicker/jquery.jdpicker.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery.hotkeys.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/tap-or-click.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery.datatable/js/jquery.dataTables.min.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery-validation-1.8.1/jquery.validate.min.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/jquery.detectmobilebrowser.js' ), :media => :screen %>
		<!--[if IE]>
    <%= javascript_include_tag ( @config.theme + '/templates/js/excanvas.js' ), :media => :screen %>
		<![endif]-->
    <%= javascript_include_tag ( @config.theme + '/templates/js/visualize/visualize.jQuery.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/visualize/jquery.visualize.tooltip.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/fancybox/jquery.fancybox-1.3.4.pack.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/fullcalendar/fullcalendar.min.js' ), :media => :screen %>
    <%= javascript_include_tag ( @config.theme + '/templates/js/main.js' ), :media => :screen %>

    <%#=WICHTIG es muss sichergestellt sein, dass die rails.js nach der jquery.js geladen wird    %>
    <%#=darum habe ich die rails.js in rails-3.0 umbenannt, weil sie sonst vor der jquery.js geladen werden würde    %>
    <%= csrf_meta_tag %>
  </head>
  <body class="bck-3">

    <div class="page soft-red liquid" width="<%=@config.pagewidth%>%">
    
      <div class="header" align=<%= @config.position_logo %>>
        <div class="wrapper">
          <div class="inner">
            <h2 id="branding"><img src="<%=@logo %>" alt="Logo" style="margin:10px"></h1>
            <ul class="main-menu">
              <%= render :partial => "shared/menue", :collection => @menue_top, :as => :menue %>
              <li><%= link_to_function(image_tag("print.png", :style => "vertical-align:middle", :border => 0, :alt => t('print'), :title => t('print')), "javascript:print()") %></li>
            </ul>
            <ul class="secondary-menu">
              <li>&nbsp;<%= link_to (image_tag('/images/at.gif', :style => "vertical-align:middle")), url_options={:controller => 'menues', :action => 'change_language', :language => 'de'}, html_options={:class => 'user-menu-link'} %></li>
              <li><%= link_to (image_tag('/images/en.gif', :style => "vertical-align:middle")), url_options={:controller => 'menues', :action => 'change_language', :language => 'en'}, html_options={:class => 'user-menu-link'}  %></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="middle grid">
        <div class="wrapper">
          <% if @config.block_left == true %>
            <div class="column grid-<%=@config.block_left_width%>">
              <%= render :partial => "shared/blocks/blocks", :collection => @lblocks, :as => :block %>
            </div>
          <% end %>
          <div class="column grid-<%= 16 - @config.block_left_width - @config.block_right_width %>">
            <%= yield %>
          </div>
          <% if @config.block_right == true %>
            <div class="column grid-<%=@config.block_right_width%>">
              <%= render :partial => "shared/blocks/blocks", :collection => @rblocks, :as => :block %>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      </div>
      <div class="footer">
        <div class="wrapper">
          <div class="inner">
            <%= render :partial => "shared/footer" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

