<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title><%= @config.title %></title>

    <%= stylesheet_link_tag "application", :media => :screen %>
    <%= stylesheet_link_tag "print", :media => :print %>
    <!--[if lte IE 8]>
    <%= stylesheet_link_tag "mbe-admin/ie" %>
    <![endif]-->
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "mbe-admin/ie-old" %>
    <![endif]-->
    <!--[if IE 9]>
    <%= stylesheet_link_tag "mbe-admin/ie9" %>
    <![endif]-->

    <%= javascript_include_tag "application" %>
		<!--[if IE]>
    <%= javascript_include_tag "excanvas.js", :media => :screen %>
		<![endif]-->

    <%= csrf_meta_tag %>
  </head>
  <body class="bck-3">
    <div class="page <%= RailsNuke::Application.config.theme %> liquid" style="width:<%=@config.pagewidth%>%; text-align:'center'">
      <div class="header" align=<%= @config.position_logo %>>
        <div class="wrapper">
          <h2 id="branding"><img src="<%=@logo %>" alt="Logo" style="margin:10px"></h1>
          <ul class="main-menu">
            <%= render :partial => "shared/menue", :collection => @menue_top, :as => :menue %>
            <li><%= link_to_function(image_tag("print.png", :style => "vertical-align:middle", :border => 0, :alt => t('print'), :title => t('print')), "javascript:print()") %></li>
          </ul>
        </div>
      </div>
      <div class="middle">
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>